@media only screen and (min-width : 320px) and (max-width : 480px)
{
  #site-header {display: none;}
  
  .logo {font-size: 5em;}
  body {min-width: 320px;}
  .wrap {width: 400px;}
  input.search {width: 330px; margin-bottom: 38px;}
  #index article {width: 330px; margin: 0 auto 2em;}
  #index article header {display: none;}
  .index-post {width: auto; right: 0; text-align: center; float: none;}
  .index-post p {margin: 1em 2em 0;}
  .show-all-posts {width: auto; font-weight: bold; background-color: #ABD4E7; color: #FFFFFF; width: 330px; border-radius: 10px; padding: .75em 0; font-size: 1.5em;}
  
  #post aside {margin: 0 0 2em 1em;}
  .post-div {width: 360px; float: none; margin: 0 auto; clear: both;}
  
  footer {margin-top: 3em;}
  .footer-text {width: 180px;}
  footer ul .footer-text {line-height: 1.5;}
  footer ul .footer-text a {width: 180px; margin-top: -1em;}
}
