#mobile-header {display: none;}

@media only screen and (min-width : 320px) and (max-width : 480px){
  
  #mobile-header {
    display: inline;
  }
  
  #mobile-nav {
    margin: 0 auto;
    width: 100%;
    background-color: #333;
    display: none;    
  }

  .menu-button {
    font-family: fontello;
    text-align: right;
    display: block;
    padding: 1em;
    background-color: #F05051; /* $red */
    color: #fff;
    cursor: pointer;
  }

  #mobile-nav li {
    position: relative;
    display: block;  
    background-color: #333;  
    width: 330px;
    margin: 0 auto;    
  }

  #mobile-nav li a {
    margin-right: 20%;
    display: block;
    color: #ddd;
    border-bottom: 1px solid #111;
    position: relative;
    background-color: #333;
    padding: 1em;
    z-index: 2;
    text-align: center;
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    font-weight: bold;
  }
  
  
  
  
  
  
  
  
  
  #site-header {display: none;}
  
  .logo {font-size: 5em;}
  body {min-width: 320px;}
  .wrap {width: 400px;}
  input.search {width: 330px; margin-bottom: 38px;}
  #index article {width: 330px; margin: 0 auto 2em;}
  #index article header {display: none;}
  .index-post {width: auto; right: 0; text-align: center; float: none;}
  .index-post p {margin: 1em 2em 0;}
  .show-all-posts {width: auto; font-weight: bold; background-color: #ABD4E7; color: #FFFFFF; width: 330px; border-radius: 10px; padding: .75em 0; font-size: 1.5em;}
  
  #post aside {margin: 0 0 2em 1em;}
  .post-div {width: 360px; float: none; margin: 0 auto; clear: both;}
  
  footer {margin-top: 3em;}
  .footer-text {width: 180px;}
  footer ul .footer-text {line-height: 1.5;}
  footer ul .footer-text a {width: 180px; margin-top: -1em;}
}
