html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1.5;
}
ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}
q, blockquote {
    quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}
a img {
    border: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}

@font-face {
  font-family: cubano;
  src: url('/fonts/cubano.eot');
  src: url('/fonts/cubano.ttf');
  src: url('/fonts/cubano.eot?#iefix') format("embedded-opentype"), url('/fonts/cubano.woff') format("woff"), url('/fonts/cubano.svg') format('svg');
  font-weight: normal;
}

@font-face {
  font-family: leaguegothic;
  src: url('/fonts/leaguegothic.eot');
  src: url('/fonts/leaguegothic.ttf');
  src: url('/fonts/leaguegothic.eot?#iefix') format('embedded-opentype'), url('/fonts/leaguegothic.woff') format('woff'), url('/fonts/leaguegothic.svg') format('svg');
  font-weight: normal;
}

@font-face {
  font-family: fontello;
  src: url('/fonts/fontello.eot');
  src: url('/fonts/fontello.ttf');
  src: url('/fonts/fontello.eot?#iefix') format("embedded-opentype"), url('/fonts/fontello.woff') format("woff"), url('/fonts/fontello.svg') format('svg');
  font-weight: normal;
}

@font-face {
  font-family: candyscript;
  src: url('/fonts/candyscript.eot');
  src: url('/fonts/candyscript.ttf');
  src: url('/fonts/candyscript.eot?#iefix') format("embedded-opentype"), url('/fonts/candyscript.woff') format("woff"), url('/fonts/candyscript.svg') format('svg');
  font-weight: normal;
}

/* GENERAL STYLES */

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-size: 1em;
  color: #2A5567; /* $blue */
}

a, h1, h2, p, input, span, label, div {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: #2A5567; /* $blue */
}

em {
  font-weight: bold;
}

#blog li.nav-blog a {
  background-color: #F26364; /* lighten($red, 4%) */
}

/* INDEX PAGE */

.logo {
  position: relative;
  margin-top: .25em;
  margin-bottom: .25em;
  font-family: candyscript, sans-serif;
  text-align: center;
}

@media (min-width: 780px){
  .logo {
    font-size: 6em;
  }
}

@media (min-width: 400px) and (max-width: 780px){
  .logo {
    font-size: 5em;
  }
}

@media (max-width: 400px){
  .logo {
    font-size: 4em;
  }
}

.search_reefpoints label {
  display: none;
}

.search {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 12px;
  display: block;
  border: 1px solid #CCC;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-color: #F8F8F8;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-size: 24px;
  color: #444;
}

@media (min-width: 700px){
  .search {
    width: 608px;
  }
}

@media (max-width: 700px){
  .search {
    width: 90%;
  }
}

.search:focus {
  outline: none;
  border-color: #999;
  background: #FCFCFC;
}

.nothin {
  display: none;
  font-size: 24px;
  text-align: center;
}

.index-date {
  font-weight: bold;
}

.index-title {
  font-size: 32px;
  font-weight: bold;
  line-height: 36px;
}

.index-title:hover {
  text-decoration: underline;
  color: #F05051; /* $red */
}

.index-comments {
  opacity: .5;
}

.index-comments:hover {
  text-decoration: underline;
}

/* Post Page */

.post-metas-wrap {
  margin-bottom: 2em;
  padding: 20px 0;
  background-image: url(http://dockyard.com/assets/bg.svg);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #777;
}

.post-meta {
  display: inline;
  font-size: .9em;
}

.post-title {
  font-family: cubano, sans-serif;
  font-size: 2.5em;
  line-height: 1.15em;
  margin-bottom: .75em;
}

.post-div {
  width: 720px;
  margin: 0 auto;
}

.post-share {
  margin-top: 2em;
  margin-bottom: 1em;
  padding-top: 2em;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #ABD4E7;
}
.post-share h1 {
  margin-bottom: .5em;
  font-weight: bold;
}
.twitter-share-button {
  float: left;
}

.issue {
  font-weight: bold;
  margin: .5em 0 1em;
}

.issue a {
  text-decoration: underline;
}

.issue a:hover {
  color: #F05051;
}

/* Designed post styles */

.design #content .wrap,
.design .post-div,
.design .post-metas-wrap {
  width: auto;
}

.design .post-content,
.design .issue,
.design .post-share,
.design #post-comments {
  width: 90%;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}

.design .issue {
  margin-top: 2em;
  margin-bottom: -1em;
}

.design .post-share {
  border: none;
}

.design .post-title-wrap {
  width: 90%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

/* Expanding the Yard */

.expanding-the-yard .post-title {
  color: #F05051;
}

.expanding-the-yard .content h2 {
  margin: .5em 0;
  font-size: 40px;
  font-family: cubano, sans-serif;
  font-weight: normal;
  line-height: 1;
}

.expanding-the-yard .post-content {
  width: 100%;
}

.expanding-the-yard .post-div {
  max-width: 100%;
  font-size: 1.2em;
}

.expanding-the-yard .one {
  color: #ADE;
  background-color: #1A4557;
}

.expanding-the-yard .two {
  color: #BEF;
  background-color: #3A6577;
}

.expanding-the-yard .three {
  color: #145;
  background-color: #9AC5D7;
}

.expanding-the-yard .four {
  color: #256;
  background-color: #BAE5F7;
}

.expanding-the-yard img {
  margin: 0 auto 40px auto;
}