html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
body {
    line-height: 1.5;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}
q, blockquote {
    quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}
a img {
    border: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}

@font-face {
  font-family: cubano;
  src: url('/fonts/cubano.eot');
  src: url('/fonts/cubano.ttf');
  src: url('/fonts/cubano.eot?#iefix') format("embedded-opentype"), url('/fonts/cubano.woff') format("woff"), url('/fonts/cubano.svg') format('svg');
  font-weight: normal;
}

@font-face {
  font-family: leaguegothic;
  src: url('/fonts/leaguegothic.eot');
  src: url('/fonts/leaguegothic.ttf');
  src: url('/fonts/leaguegothic.eot?#iefix') format('embedded-opentype'), url('/fonts/leaguegothic.woff') format('woff'), url('/fonts/leaguegothic.svg') format('svg');
  font-weight: normal;
}

@font-face {
  font-family: fontello;
  src: url('/fonts/fontello.eot');
  src: url('/fonts/fontello.ttf');
  src: url('/fonts/fontello.eot?#iefix') format("embedded-opentype"), url('/fonts/fontello.woff') format("woff"), url('/fonts/fontello.svg') format('svg');
  font-weight: normal;
}

@font-face {
  font-family: candyscript;
  src: url('/fonts/candyscript.eot');
  src: url('/fonts/candyscript.ttf');
  src: url('/fonts/candyscript.eot?#iefix') format("embedded-opentype"), url('/fonts/candyscript.woff') format("woff"), url('/fonts/candyscript.svg') format('svg');
  font-weight: normal;
}

/* GENERAL STYLES */

body {
  color: #2A5567; /* $blue */
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-size: 1em;
  min-width: 1000px;
}

a {
  text-decoration: none;
  color: #2A5567; /* $blue */
}

.clear {
  clear: both;
}

.wrap {
  width: 980px;
  margin: 0 auto;
}

#blog li.nav-blog a {
  background-color: #F26364; /* lighten($red, 4%) */
}

#site-header {
  background-color: #F05051; /* $red */
  height: 48px;
}
#site-header a {
  color: #FFFFFF;
}
#site-header .nav h1 a {
  font-family: leaguegothic, helvetica, arial, sans-serif;
  font-size: 32px;
  float: left;
}
#site-header .nav ul {
  float: right;
}
#site-header .nav ul li {
  float: left;
}
#site-header .nav ul li a {
  font-weight: bold;
  font-size: 0.8em;
  padding: 19px 15px 10px 15px;
  float: left;
}
#site-header .nav ul li a:hover {
  background-color: #F37172; /* lighten($red, 7%) */
}

footer {
  padding-top: 3em;
  height: 8em;
  clear: both;
  text-align: center;
}
footer p {
  margin-top: .25em;
}
footer a {
  background-color: #2A5567; /* $blue */
  color: #FFFFFF;
}
footer a:hover {
  background-color: #F05051; /* $red */
}
footer div {
  position: relative;
  display: inline-block;
  margin: 0 10px;
}
.twitter {line-height: 40px;}
.github {line-height: 42px;}
footer .rss {line-height: 38px; font-size: 1.65em;}
footer .email {line-height: 40px; font-size: 1.5em;}

@-moz-document url-prefix() {
  footer p {
    top: -10px;
  }
}

footer div a {
  font-family: fontello;
  font-size: 1.35em;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  text-align: center;
  float: left;
  margin: 0 .25em;
}
footer div a:hover {
  background-color: $red;
}

/* INDEX PAGE */

.logo {
  font-family: candyscript, sans-serif;
  text-align: center;
  font-size: 6em;
  position: relative;
  margin: .25em 0;
}

.search_reefpoints label {
  display: none;
}

input.search {
  color: #444;
  width: 608px;
  padding: 12px;
  display: block;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-size: 24px;
  border-radius: 9px;
  border: 2px solid #CCC;
  margin: 0 auto 72px auto;
  background-color: #F9F9F9;
}

input.search:focus {
  outline: none;
  border-color: #999;
  background: #FCFCFC;
}

.nothin {
  font-size: 24px;
  text-align: center;
  margin: 0 0 72px 0;
  display: none;
}

.show-all-posts {
  width: 480px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

#index {
  clear: left;
}

#index article header {
  text-align: right;
  width: 230px;
  float: left;
  margin: 0 20px 0 0;
  padding: 0 10px;
}

#index article header h4 a {
  opacity: .5;
}
#index article header h4 a:hover {
  color: #2A5567;
}

#index article {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #E6E7E8;
}

#index article a:hover {
  text-decoration: underline;
  color: #F05051; /* $red */
}

.index-post {
  width: 665px;
  float: right;
  position: relative;
  right: 30px;
}

.index-date {
  font-weight: bold;
}

.index-title {
  font-size: 32px;
  font-weight: bold;
  line-height: 36px;
}

/* Post Page */

#post {
  clear: left;
}

.post-wrap {
  position: relative;
  top: 2em;
}

#post aside {
  width: 200px;
  float: left;
}

.post-date {
  font-size: 1.15em;
  font-weight: bold;
  margin-bottom: .15em;
}

#post aside span a {
  font-family: fontello;
  font-size: 1.35em;
  font-style: normal;
  font-weight: normal;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: #2A5567;
  color: #FFFFFF;
  margin-top: .25em;
  text-decoration: none;
  float: left;
  margin-right: .25em;
}

#post aside span a:hover {
  background-color: #F05051;
}

.post-title h1 {
  font-family: cubano;
  font-size: 2.5em;
  line-height: 1.15em;
  margin-bottom: .75em;
}

.post-div {
  width: 680px;
  float: right;
  margin-right: 6.15em;
}

.post-content h2 {
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 1em;
}
.post-content h3 {
  font-weight: bold;
  color: #65A4BA;
  margin-top: .5em;
  font-size: 1.25em;
}
.post-content p {
  margin-bottom: 1em;
  line-height: 1.65;
}
.post-content a {
  font-weight: bold;
  text-decoration: underline;
}
.post-content a:hover {
  color: #F05051; /* $red */
}
.post-content ul li {
  margin-left: 1em;
  list-style-type: square;
}
.post-content ul {
  margin-bottom: 1em;
}
.post-content ol {
  margin-bottom: 1em;
}
.post-content img {
  display: block;
  margin: 0 auto;
}

.post-share {
  clear: both;
  margin-top: 2em;
  padding-top: 2em;
  border-top-style: solid;
  border-width: 2px;
  border-color: #ABD4E7;
  margin-bottom: 1em;
}
.post-share h1 {
  font-weight: bold;
  margin-bottom: .5em;
}
.twitter-share-button {
  float: left;
}

/* Designed post styles */

.design {
  min-width: 0;
}

.design #site-header .wrap {
  width: auto;
  max-width: 980px;
}

.design #content .wrap,
.design .post-div,
.design #post aside {
  margin: 0;
  float: none;
  width: auto;
}

.design .post-content {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 720px;
}

.design .post-wrap {
  top: 0;
}

.design #post aside ul,
.design #post-comments,
.design .post-share {
  margin: 0 auto;
  max-width: 980px;
  overflow: hidden;
}

.design .post-share {
  border: none;
}

.design #post .post-title {
  margin: 0 auto;
  max-width: 940px;
  padding: 40px 20px;
}

.design #post .post-title h1 {
  margin: 0;
  text-align: center;
}

.design #post aside {
  color: #777;
  padding: 20px 0;
  text-align: center;
  letter-spacing: 1px;
  vertical-align: middle;
  text-transform: uppercase;
  background: url(http://dockyard.com/assets/wave.png);
}

.design #post aside ul li {
  display: inline;
  font-size: .9em;
}

.design .post-date {
  font-weight: normal;
}

.design #post aside span a {
  float: none;
  margin: 0 .2em;
  background: #777;
  text-transform: none;
  display: inline-block;
}

.design #post aside span a:hover,
.design #post aside span a:focus,
.design #post aside span a:active {
  background-color: #F05051;
}

@media only screen and (max-width : 480px){
  .design #post .post-title h1,
  .design #post aside ul,
  .design #post-comments,
  .design .post-share {
    width: auto;
  }
  
  .design #post .post-title {
    padding: 20px;
  }
  
  .design #post .post-title h1 {
    line-height: 1;
    font-size: 40px;
    white-space: normal;
  }

  .design #post aside ul li {
    margin: 0;
  }

  .design .content {
    width: auto;
  }

  .design .post-content,
  .design #post-comments,
  .design .post-share {
    padding: 20px;
  }
}

/* Expanding the Yard */

.expanding-the-yard #post .post-title h1 {
  color: #F05051;
}

.expanding-the-yard #post h2 {
  margin: .5em 0;
  line-height: 1;
  font-size: 40px;
  font-weight: normal;
  font-family: cubano;
}

.expanding-the-yard .post-div {
  font-size: 1.2em;
}

.expanding-the-yard .post-content {
  padding: 0;
  max-width: none;
}

.expanding-the-yard .post-content .content {
  margin: 0 auto;
  max-width: 720px;
  padding: 40px 20px;
}

.expanding-the-yard .one,
.expanding-the-yard .two,
.expanding-the-yard .three,
.expanding-the-yard .four {
  overflow: hidden;
}

.expanding-the-yard .one {
  color: #ADE;
  background: #1A4557;
}

.expanding-the-yard .two {
  color: #BEF;
  background: #3A6577;
}

.expanding-the-yard .three {
  color: #145;
  background: #9AC5D7;
}

.expanding-the-yard .four {
  color: #256;
  background: #BAE5F7;
}

.expanding-the-yard .four img {
  margin: 0 auto 40px auto;
}

@media only screen and (max-width : 480px){
  .expanding-the-yard .post-content {
    padding: 0;
  }
  .expanding-the-yard .post-content .content {
    padding: 20px;
  }
}
