#posts {
  clear: left;
}
#post {
  clear: left;
}

#posts article header {
  text-align: right;
  width: 230px;
  float: left;
  margin: 0 20px 0 0;
  padding: 0 10px;
}

#posts article header h4 a {
  opacity: .5;
}
#posts article header h4 a:hover {
  color: #2A5567;
}

.blog-entries {
  width: 665px;
  float: right;
  position: relative;
  right: 30px;
}

#posts article {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #E6E7E8;
}

#posts article a:hover {
  text-decoration: underline;
  color: #F05051; /* $red */
}

.post-wrap {
  position: relative;
  top: 2em;
}

.date {
  font-size: 1.15em;
}

.blog-date {
  font-weight: bold;
}

.blog-title {
  font-size: 32px;
  font-weight: bold;
  line-height: 36px;
}

.post-content {
  width: 680px;
  float: right;
  margin-right: 4em;
}

.post-title {
  font-family: cubano;
  font-size: 2.5em;
  line-height: 1.15em;
  margin-bottom: .75em;
}

.blog-post h2 {
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 1em;
}
.blog-post h3 {
  font-weight: bold;
  color: #65A4BA;
  margin-top: .5em;
  font-size: 1.25em;
}

#post a {
  font-weight: bold;
  text-decoration: underline;
}
#post a:hover {
  color: #F05051; /* $red */
}
#post p {
  margin-bottom: 1em;
  line-height: 1.65;
}

.blog-post ul li {
  margin-left: 1em;
  list-style-type: square;
}
.blog-post ul {
  margin-bottom: 1em;
}
.blog-post ol {margin-bottom: 1em;}

#post aside {
  width: 200px;
  float: left;
}

#post aside .date {
  font-weight: bold;
  margin-bottom: .15em;
}

.hire-us {
  clear: both;
}

#post aside .social a {
  font-family: fontello;
  font-size: 1.35em;
  font-style: normal;
  font-weight: normal;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  text-align: center;
  background-color: #2A5567;
  color: #FFFFFF;
  margin-top: .25em;
  text-decoration: none;
  float: left;
  margin-right: .25em;
}

#post aside .social a:hover {
  background-color: #F05051;
}

#share {
  clear: both;
  margin-top: 2em;
  padding-top: 2em;
  border-top-style: solid;
  border-width: 2px;
  border-color: #ABD4E7;
  margin-bottom: 1em;
}
#share h1 {
  font-weight: bold;
  margin-bottom: .5em;
}
.twitter-share-button {
  float: left;
}

input.search {
  width: 948px;
  color: #444;
  padding: 12px;
  font-size: 24px;
  border-radius: 12px;
  border: 4px solid #EEE;
  background-color: #F8F8F8;
}

input.search:focus {
  outline: none;
  background: #FAFAFA;
  border-color: #CCC;
}

input.search::-webkit-input-placeholder {
  font-weight: bold;
  text-align: center;
}
input.search:-moz-placeholder {
  font-weight: bold;
  text-align: center;
}
input.search:-ms-input-placeholder {
  font-weight: bold;
  text-align: center;
}