.header-logo, .main-nav-item, .mobile-nav-icon, .mobile-button {
  color: #FFFFFF;
}

.main-nav-item {
  font-weight: bold;
  font-size: .8em;
}

.header-logo {
  /*margin-top: 2px;*/
  float: left;
  height: 35px;
  font-family: leaguegothic, sans-serif;
  font-size: 32px;
}

.nav-blog {
  background-color: #F26364;
}

@media (min-width: 650px) {
  #mobile-header {
    display: none;
  }
  #site-header {
    height: 45px;
    background-color: #F05051;
  }
  .main-nav {
    float: right;
  }
  .nav-work, .nav-people, .nav-community, .nav-blog, .nav-contact {
    float: left;
  }
  .main-nav-item {
    padding: 20px 15px 6px;
    display: block;
  }
  .main-nav-item:hover {
    background-color: #F17275;
  }
}

@media (max-width: 650px) {
  #site-header {
    display: none;
  }
  #mobile-header {
    overflow: auto;
    background-color: #F05051;
  }
  .mobile-button {
    float: right;
    font-size: 1.5em;
    cursor: pointer;
    padding: 5px;
  }
  #mobile-nav {
    clear: both;
    display: none;
  }
  .mobile-nav-link-wrap {
    float: left;
    width: 32%;
    margin-bottom: 1%;
    margin-left: 1%;
  }
  .mobile-nav-link {
    display: block;
    background-color: #F26364;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
  }
  .mobile-nav-link:active {
    background-color: #F17275;
  }
  .mobile-nav-icon {
    font-size: 2em;
  }
  .main-nav-item {
    margin-top: -8px;
  }
}

.fontello {
  font-family: fontello;
}

.fontello:before {
  content: attr(data-icon);
}

.link {
  float: left;
  margin-right: 5px;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  font-size: 1.35em;
  text-align: center;
  color: #FFFFFF;
  line-height: 1.75;
  -webkit-transition-duration: .5s;
  -moz-transition-duration: .5s;
  -otransition-duration: .5s;
  transition-duration: .5s;
}

footer {
  padding-top: 3em;
  padding-bottom: 3em;
}

.footer-links {
  height: 50px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.link-in-footer {
  margin-left: 5px;
  background-color: #2A5567;
}

.link-in-footer:hover {
  background-color: #F05051;
}

.link-in-post {
  display: inline-block;
  float: none;
  margin-left: .2em;
  margin-right: .2em;
  background-color: #777;
  text-transform: none;
  line-height: 2;
}

.link-in-post:hover {
  background-color: #F05051;
}

.footer-number {
  display: block;
  text-align: center;
}

.footer-copyright {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

/*
html body footer {
  padding-top: 3em;
  height: 8em;
  clear: both;
  text-align: center;
  margin-bottom: 3em;
}
footer p {
  margin-top: .25em;
}
footer a {
  background-color: #2A5567;
  color: #FFFFFF;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
}
footer a:hover {
  background-color: #F05051;
}
footer div {
  position: relative;
  display: inline-block;
  margin: 0 10px;
}
.twitter {line-height: 40px;}
.github {line-height: 42px;}
footer .rss {line-height: 38px; font-size: 1.65em;}
footer .email {line-height: 40px; font-size: 1.5em;}

@-moz-document url-prefix() {
  footer {
    position: relative;
    top: 3em;
  }
  footer p {
    top: -10px;
  }
}

footer div a {
  font-family: fontello;
  font-size: 1.35em;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  text-align: center;
  float: left;
  margin: 0 .25em;
}
footer div a:hover {
  background-color: $red;
}

@media (max-width : 650px){
  footer {margin-top: 1em;}
  footer p {width: 250px; margin: 0 auto;}
}
*/