@import load

.post__share
  margin-bottom: 18px
  font-size: 18px
  line-height: 32px
  @media (max-width: 600px)
    margin:
      top: 54px
      bottom: 54px
  @media (min-width: 600px)
    position: absolute
    bottom: 0
    left: 0
    width: 130px

.post__share__links
  padding-bottom: 18px
  border-bottom: 4px solid $red

.post__share__desc
  margin-top: 18px

.twitter-share-button
  padding-bottom: .5em
  display: block

.post__comments
  @media (max-width: 600px)
    margin-bottom: 3em
  @media (min-width: 600px)
    margin:
      top: 54px
      bottom: 6em
    float: right
  @media (min-width: 600px) and (max-width: 860px)
    width: 58%
  @media (min-width: 780px)
    margin-right: 7.05%
  @media (min-width: 860px)
    width: 100%
    max-width: 540px
