@import load

.post__share
  margin-bottom: 50px

.twitter-share-button
  @media (max-width: 699px)
    margin-bottom: .5em
    display: block

.post__share--github
  font-size: 16px
  line-height: 1.35
  color: $gray
  @media (max-width: 699px)
    margin-top: 1em
    display: block
  @media (min-width: 700px)
    position: relative
    top: -6px
