---
layout: default
title: DockYard Blog
---

<section id='posts'>

  <h1 class='reefpoints'>Reefpoints</h1>

  {% for post in site.posts %}
    <article>
      <header>
        <time class='blog-date' pubdate datetime='{{ post.date }}'>{{ post.date || date_to_string }}</time>
        {% if post.comments %}
          <h4><a href='{{ post.url }}#disqus_thread'>.</a><h4>
        {% endif %}
      </header>
      <div class='blog-entries'>
        <h2><a href='{{ post.url }}' class='blog-title'>{{ post.title }}</a></h2>
        <p class='author'>
          by {{ post.author }}
        </p>
        <p>
          {{ post.summary }}
        </p>
      </div>
      <div class='clear'></div>
    </article>
  {% endfor %}
  
  <input class="search" name="search" type="text" value="Search all of our posts...">
  
</section>
