---
layout: default
title: DockYard Blog
---

<h1 class='reefpoints'>Reef Points</h1>

<form class="search_reefpoints">
  <label for="search">Search Reef Points</label>
  <input class="search" id="search" name="search" type="text" value="">
</form>

<section id='posts'>
  {% for post in site.posts %}
    <article>
      <header>
        <time class='blog-date' pubdate datetime='{{ post.date }}'>{{ post.date || date_to_string }}</time>
        <p class='author'>
          {{ post.author }}
        </p>
        {% if post.comments %}
          <h4><a href='{{ post.url }}#disqus_thread'>.</a><h4>
        {% endif %}
      </header>
      <div class='blog-entries'>
        <h2><a href='{{ post.url }}' class='blog-title'>{{ post.title }}</a></h2>
        
        <p>
          {{ post.summary }}
        </p>
      </div>
      <div class='clear'></div>
    </article>
  {% endfor %}

</section>
