@import load

header
  width: 100%
  z-index: 5
  @media (min-width: 650px) and (min-height: 650px)
    position: fixed

.logo
  padding: 17px
  display: inline-block
  font:
    size: 1.875em
    family: 'Tungsten A', 'Tungsten B'
