// File copied over from dockyard.com

@import load

header
  width: 100%
  z-index: 5
  @media (min-width: 650px) and (min-height: 650px)
    position: fixed

.main-nav-wrap
  @include has-border(bottom)
  border-top: 4px solid $red
  background-color: rgba($white, .5)
  +transition-duration(.25s)
  +transition-property(background-color)

.main-nav
  position: relative
  text-align: center

.logo
  padding: 17px
  display: inline-block
  font:
    size: 1.875em
    family: 'Tungsten A', 'Tungsten B'

.club-sandwich, .extended-nav--logo, .extended-nav--close
  &:before
    font-family: 'icomoon'
    content: attr(data-icon)

.club-sandwich, .extended-nav--close
  padding:
    top: 12px
    bottom: 12px
    left: 12px
  position: absolute
  right: 0
  font-size: 41px
  &:before
    +transition-duration(.25s)
    +transition-property(color)
  &:hover
    &:before
      color: $gray

// End of Copied File

.main-nav-wrap
  border-bottom: none

.main-nav
  @include has-border(bottom)
