// File copied over from dockyard.com

@import load

.header-has-background
  background-color: $white

.takes-full-height
  margin-top: 0 !important
  @media (min-width: 650px) and (min-height: 650px)
    height: 100%

.has-no-scroll
  @media (min-width: 650px) and (min-height: 650px)
    overflow: hidden

.header-is-extended
  @media (min-width: 650px) and (min-height: 650px)
    height: 100%
