/* line 3, /home/travis/build/dockyard/reefpoints/source/stylesheets/modules/post/content.sass */
.post__content {
  margin-bottom: 84px;
  line-height: 1.8; }
  /* line 7, /home/travis/build/dockyard/reefpoints/source/stylesheets/modules/post/content.sass */
  .post__content h1, .post__content h2, .post__content h3, .post__content h4, .post__content h5, .post__content h6 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-family: "NiveauGroteskBold", sans-serif;
    line-height: 1.8; }
  /* line 14, /home/travis/build/dockyard/reefpoints/source/stylesheets/modules/post/content.sass */
  .post__content h1 {
    font-size: 34px; }
  /* line 17, /home/travis/build/dockyard/reefpoints/source/stylesheets/modules/post/content.sass */
  .post__content h2 {
    font-size: 24px;
    color: #929292; }
  /* line 21, /home/travis/build/dockyard/reefpoints/source/stylesheets/modules/post/content.sass */
  .post__content h3, .post__content h4, .post__content h5, .post__content h6 {
    font-size: 19px;
    text-transform: uppercase;
    color: #9a9a9a; }
  /* line 26, /home/travis/build/dockyard/reefpoints/source/stylesheets/modules/post/content.sass */
  .post__content h1 + h3, .post__content h2 + h3, .post__content h1 + h4, .post__content h2 + h4, .post__content h1 + h5, .post__content h2 + h5, .post__content h1 + h6, .post__content h2 + h6 {
    margin-top: 0; }
  /* line 29, /home/travis/build/dockyard/reefpoints/source/stylesheets/modules/post/content.sass */
  .post__content p, .post__content li, .post__content em {
    font-size: 20px; }
  /* line 32, /home/travis/build/dockyard/reefpoints/source/stylesheets/modules/post/content.sass */
  .post__content p {
    margin-bottom: 18px; }
  /* line 35, /home/travis/build/dockyard/reefpoints/source/stylesheets/modules/post/content.sass */
  .post__content a {
    color: #43c0ef;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: color;
    -moz-transition-property: color;
    -o-transition-property: color;
    transition-property: color; }
    /* line 55, /home/travis/build/dockyard/reefpoints/source/stylesheets/load.sass */
    .post__content a:hover {
      color: #72d0f3; }
  /* line 39, /home/travis/build/dockyard/reefpoints/source/stylesheets/modules/post/content.sass */
  .post__content ul, .post__content ol {
    margin-bottom: 18px; }
  /* line 42, /home/travis/build/dockyard/reefpoints/source/stylesheets/modules/post/content.sass */
  .post__content ul li {
    margin-left: 1em;
    list-style-type: disc; }
    /* line 45, /home/travis/build/dockyard/reefpoints/source/stylesheets/modules/post/content.sass */
    .post__content ul li li {
      list-style-type: circle; }
  /* line 48, /home/travis/build/dockyard/reefpoints/source/stylesheets/modules/post/content.sass */
  .post__content ol li {
    margin-left: 1.25em;
    list-style-type: decimal; }
  /* line 52, /home/travis/build/dockyard/reefpoints/source/stylesheets/modules/post/content.sass */
  .post__content img {
    margin: 0 auto 2em;
    display: block;
    width: 100%; }
  /* line 57, /home/travis/build/dockyard/reefpoints/source/stylesheets/modules/post/content.sass */
  .post__content blockquote {
    text-align: center;
    margin: 3em -10em; }
    /* line 60, /home/travis/build/dockyard/reefpoints/source/stylesheets/modules/post/content.sass */
    .post__content blockquote > p {
      line-height: 1.618em;
      font-size: 2em;
      color: #4d4d4d; }
      @media (max-width: 768px) {
        /* line 60, /home/travis/build/dockyard/reefpoints/source/stylesheets/modules/post/content.sass */
        .post__content blockquote > p {
          font-size: 1.5em; } }
    @media (max-width: 976px) {
      /* line 57, /home/travis/build/dockyard/reefpoints/source/stylesheets/modules/post/content.sass */
      .post__content blockquote {
        margin: 3em -3em; } }
    @media (max-width: 768px) {
      /* line 57, /home/travis/build/dockyard/reefpoints/source/stylesheets/modules/post/content.sass */
      .post__content blockquote {
        margin: 3em 0em; } }

/* line 71, /home/travis/build/dockyard/reefpoints/source/stylesheets/modules/post/content.sass */
.post__illustration-wrap {
  overflow: hidden; }
  @media (max-width: 499px) {
    /* line 71, /home/travis/build/dockyard/reefpoints/source/stylesheets/modules/post/content.sass */
    .post__illustration-wrap {
      margin-bottom: 2em; } }
  @media (min-width: 500px) {
    /* line 71, /home/travis/build/dockyard/reefpoints/source/stylesheets/modules/post/content.sass */
    .post__illustration-wrap {
      margin-bottom: 3em; } }

@media (max-width: 499px) {
  /* line 78, /home/travis/build/dockyard/reefpoints/source/stylesheets/modules/post/content.sass */
  .post__illustration {
    margin-left: -20%;
    width: 140%; } }
@media (min-width: 500px) {
  /* line 78, /home/travis/build/dockyard/reefpoints/source/stylesheets/modules/post/content.sass */
  .post__illustration {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 90%;
    max-width: 860px; } }
