@media (max-width: 600px) {
  /* line 3, /Users/dan/Projects/dockyard/reefpoints/source/stylesheets/modules/post/layout.sass */
  #index {
    margin-top: -2em; } }
@media (min-width: 600px) {
  /* line 3, /Users/dan/Projects/dockyard/reefpoints/source/stylesheets/modules/post/layout.sass */
  #index {
    margin-top: -3em; } }
@media (min-width: 680px) {
  /* line 9, /Users/dan/Projects/dockyard/reefpoints/source/stylesheets/modules/post/layout.sass */
  .tags #index, .authors #index {
    width: 58%;
    float: right; } }
@media (min-width: 780px) {
  /* line 9, /Users/dan/Projects/dockyard/reefpoints/source/stylesheets/modules/post/layout.sass */
  .tags #index, .authors #index {
    margin-right: 7.07%; } }
@media (min-width: 1000px) {
  /* line 9, /Users/dan/Projects/dockyard/reefpoints/source/stylesheets/modules/post/layout.sass */
  .tags #index, .authors #index {
    width: 540px; } }

/* line 18, /Users/dan/Projects/dockyard/reefpoints/source/stylesheets/modules/post/layout.sass */
.post-wrap, .post-wrap--index {
  overflow: auto; }
  @media (max-width: 600px) {
    /* line 18, /Users/dan/Projects/dockyard/reefpoints/source/stylesheets/modules/post/layout.sass */
    .post-wrap, .post-wrap--index {
      padding-top: 2em;
      padding-bottom: 2em; } }
  @media (min-width: 600px) {
    /* line 18, /Users/dan/Projects/dockyard/reefpoints/source/stylesheets/modules/post/layout.sass */
    .post-wrap, .post-wrap--index {
      padding-top: 3em;
      padding-bottom: 3em; } }

@media (max-width: 600px) {
  /* line 32, /Users/dan/Projects/dockyard/reefpoints/source/stylesheets/modules/post/layout.sass */
  .post-wrap--index:not(:last-child) {
    border-bottom: 1px dashed #e5e5e5; } }

/* line 35, /Users/dan/Projects/dockyard/reefpoints/source/stylesheets/modules/post/layout.sass */
.post-wrap--no-comments {
  position: relative;
  overflow: auto; }
  @media (min-width: 900px) {
    /* line 35, /Users/dan/Projects/dockyard/reefpoints/source/stylesheets/modules/post/layout.sass */
    .post-wrap--no-comments {
      margin-bottom: 54px; } }

/* line 41, /Users/dan/Projects/dockyard/reefpoints/source/stylesheets/modules/post/layout.sass */
.post {
  float: right; }
  @media (max-width: 600px) {
    /* line 41, /Users/dan/Projects/dockyard/reefpoints/source/stylesheets/modules/post/layout.sass */
    .post {
      width: 100%; } }
  @media (min-width: 600px) and (max-width: 1000px) {
    /* line 41, /Users/dan/Projects/dockyard/reefpoints/source/stylesheets/modules/post/layout.sass */
    .post {
      width: 58%; } }
  @media (min-width: 780px) {
    /* line 41, /Users/dan/Projects/dockyard/reefpoints/source/stylesheets/modules/post/layout.sass */
    .post {
      padding-right: 7.05%; } }
  @media (min-width: 1000px) {
    /* line 41, /Users/dan/Projects/dockyard/reefpoints/source/stylesheets/modules/post/layout.sass */
    .post {
      width: 100%;
      max-width: 540px; } }
  @media (min-width: 680px) {
    /* line 53, /Users/dan/Projects/dockyard/reefpoints/source/stylesheets/modules/post/layout.sass */
    .tags .post, .authors .post {
      width: 100%;
      max-width: 540px;
      padding-right: 0; } }

/* line 59, /Users/dan/Projects/dockyard/reefpoints/source/stylesheets/modules/post/layout.sass */
.reefpoints-wrap {
  position: relative; }
