/* line 3, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/post/meta.sass */
.posts__title, .post__title {
  display: block;
  font-family: "LatoLight", sans-serif;
  line-height: 1.25; }

/* line 8, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/post/meta.sass */
.posts__title, .post__author {
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color; }
  /* line 55, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/load.sass */
  .posts__title:hover, .post__author:hover {
    color: #43c0ef; }

/* line 11, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/post/meta.sass */
.posts__title {
  margin-bottom: 15px;
  font-size: 40px; }

/* line 15, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/post/meta.sass */
.post__title {
  margin-bottom: 24px; }
  @media (min-width: 600px) {
    /* line 15, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/post/meta.sass */
    .post__title {
      font-size: 52px; } }

@media (max-width: 599px) {
  /* line 20, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/post/meta.sass */
  .post__author, .posts__date, .post__date, .post__comments-count {
    line-height: 1.5; } }

@media (max-width: 599px) {
  /* line 24, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/post/meta.sass */
  .post__author, .posts__date, .post__date {
    display: block; } }
@media (min-width: 600px) {
  /* line 24, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/post/meta.sass */
  .post__author, .posts__date, .post__date {
    margin-right: 10px; } }

/* line 30, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/post/meta.sass */
.post__author {
  font-family: "NiveauGroteskBold", sans-serif; }

/* line 33, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/post/meta.sass */
.post__date {
  margin-bottom: 36px; }
  @media (min-width: 600px) {
    /* line 33, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/post/meta.sass */
    .post__date {
      display: inline-block; } }

/* line 39, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/post/meta.sass */
.post__comments-count {
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  color: #a4a4a4; }
  /* line 55, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/load.sass */
  .post__comments-count:hover {
    color: #b6b6b6; }
  @media (max-width: 599px) {
    /* line 39, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/post/meta.sass */
    .post__comments-count {
      display: block; } }

/* line 45, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/post/meta.sass */
.post__desc {
  margin-top: 15px;
  margin-bottom: 0; }
  @media (min-width: 680px) {
    /* line 45, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/post/meta.sass */
    .post__desc {
      font-size: 20px; } }
