/* line 3, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/related-posts.sass */
.related-posts-wrap {
  padding-top: 50px;
  padding-bottom: 50px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #e5e5e5;
  overflow: auto; }

@media (max-width: 699px) {
  /* line 14, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/related-posts.sass */
  .related-posts {
    text-align: center; } }
@media (min-width: 700px) {
  /* line 14, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/related-posts.sass */
  .related-posts {
    float: right;
    width: 320px; } }

/* line 21, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/related-posts.sass */
.related-posts__header {
  font-size: 13px;
  text-transform: uppercase; }
  @media (max-width: 699px) {
    /* line 21, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/related-posts.sass */
    .related-posts__header {
      margin-top: 30px; } }

/* line 27, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/related-posts.sass */
.related-post {
  display: block; }
  /* line 29, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/related-posts.sass */
  .related-post:first-of-type {
    margin-top: 30px; }

/* line 32, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/related-posts.sass */
.related-post__title {
  font-size: 24px; }

/* line 35, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/related-posts.sass */
.related-posts-link {
  margin-top: 30px; }
