@media (max-width: 600px) {
  /* line 3, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/share.sass */
  .post__share {
    margin-top: 54px;
    margin-bottom: 54px; } }
@media (min-width: 600px) {
  /* line 3, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/share.sass */
  .post__share {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 130px; } }

/* line 14, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/share.sass */
.post__share__links {
  margin-bottom: 18px;
  padding-bottom: 18px;
  border-bottom: 4px solid #fb755a; }

/* line 19, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/share.sass */
.twitter-share-button {
  padding-bottom: 0.5em;
  display: block; }

/* line 23, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/share.sass */
.button--post {
  margin-bottom: 0;
  width: 130px; }

@media (min-width: 600px) {
  /* line 28, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/share.sass */
  .post__comments {
    margin-top: 54px;
    float: right; } }
@media (min-width: 600px) and (max-width: 1000px) {
  /* line 28, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/share.sass */
  .post__comments {
    width: 58%; } }
@media (min-width: 780px) {
  /* line 28, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/share.sass */
  .post__comments {
    margin-right: 7.05%; } }
@media (min-width: 1000px) {
  /* line 28, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/share.sass */
  .post__comments {
    width: 540px; } }
