/* line 65, /Users/acheung/work/reefpoints/source/stylesheets/load.sass */
.header--thin, .h1 {
  font-family: "LatoLight", sans-serif; }

@media (max-width: 600px) {
  /* line 68, /Users/acheung/work/reefpoints/source/stylesheets/load.sass */
  .h1 {
    font-size: 2.5em; } }
@media (min-width: 600px) {
  /* line 68, /Users/acheung/work/reefpoints/source/stylesheets/load.sass */
  .h1 {
    font-size: 72px; } }

/* line 75, /Users/acheung/work/reefpoints/source/stylesheets/load.sass */
.h2 {
  line-height: 1.25; }
  @media (max-width: 860px) {
    /* line 75, /Users/acheung/work/reefpoints/source/stylesheets/load.sass */
    .h2 {
      font-size: 1.5em; } }
  @media (min-width: 860px) {
    /* line 75, /Users/acheung/work/reefpoints/source/stylesheets/load.sass */
    .h2 {
      font-size: 2.625em; } }

@media (max-width: 600px) {
  /* line 3, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/share.sass */
  .post__share {
    margin-top: 54px;
    margin-bottom: 54px; } }
@media (min-width: 600px) {
  /* line 3, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/share.sass */
  .post__share {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 130px; } }

/* line 14, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/share.sass */
.post__share__links {
  margin-bottom: 18px;
  padding-bottom: 18px;
  border-bottom: 4px solid #fb755a; }

/* line 19, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/share.sass */
.twitter-share-button {
  padding-bottom: 0.5em;
  display: block; }

@media (max-width: 600px) {
  /* line 23, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/share.sass */
  .post__comments {
    margin-bottom: 3em; } }
@media (min-width: 600px) {
  /* line 23, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/share.sass */
  .post__comments {
    margin-top: 54px;
    margin-bottom: 6em;
    float: right; } }
@media (min-width: 600px) and (max-width: 1000px) {
  /* line 23, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/share.sass */
  .post__comments {
    width: 58%; } }
@media (min-width: 780px) {
  /* line 23, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/share.sass */
  .post__comments {
    margin-right: 7.05%; } }
@media (min-width: 1000px) {
  /* line 23, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/share.sass */
  .post__comments {
    width: 540px; } }
