@charset "UTF-8";/* line 17, /Users/acheung/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, /Users/acheung/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, /Users/acheung/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, /Users/acheung/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, /Users/acheung/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, /Users/acheung/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, /Users/acheung/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, /Users/acheung/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, /Users/acheung/.rbenv/versions/2.0.0-p195/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/icomoon-021598c6.eot");
  src: url("/fonts/icomoon-021598c6.eot?#iefix") format("eot"), url("/fonts/icomoon-b0b7db8b.woff") format("woff"), url("/fonts/icomoon-d8d52647.ttf") format("truetype"); }

@font-face {
  font-family: "NiveauGroteskRegular";
  src: url("/fonts/NiveauGroteskRegular-8029c11d.eot");
  src: url("/fonts/NiveauGroteskRegular-8029c11d.eot?#iefix") format("embedded-opentype"), url("/fonts/NiveauGroteskRegular-ce44d1f6.woff") format("woff"), url("/fonts/NiveauGroteskRegular-38c57c7e.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "NiveauGroteskBold";
  src: url("/fonts/NiveauGroteskBold-76ebc036.eot");
  src: url("/fonts/NiveauGroteskBold-76ebc036.eot?#iefix") format("embedded-opentype"), url("/fonts/NiveauGroteskBold-4c145bc2.woff") format("woff"), url("/fonts/NiveauGroteskBold-7efd336e.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "NiveauGroteskLight-Italic";
  src: url("/fonts/NiveauGroteskLight-Italic-c7df9133.eot");
  src: url("/fonts/NiveauGroteskLight-Italic-c7df9133.eot?#iefix") format("embedded-opentype"), url("/fonts/NiveauGroteskLight-Italic-b69625c1.woff") format("woff"), url("/fonts/NiveauGroteskLight-Italic-ae3b17c0.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "LatoRegular";
  src: url("/fonts/LatoRegular-041855c9.eot");
  src: url("/fonts/LatoRegular-041855c9.eot?#iefix") format("embedded-opentype"), url("/fonts/LatoRegular-a333866b.woff") format("woff"), url("/fonts/LatoRegular-e80be1af.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "LatoLight";
  src: url("/fonts/LatoLight-c808d8c1.eot");
  src: url("/fonts/LatoLight-c808d8c1.eot?#iefix") format("embedded-opentype"), url("/fonts/LatoLight-e9b8884c.woff") format("woff"), url("/fonts/LatoLight-a3ec3324.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* line 53, /Users/acheung/work/reefpoints/source/stylesheets/base.sass */
html {
  display: block;
  font-family: "NiveauGroteskRegular", sans-serif; }

/* line 57, /Users/acheung/work/reefpoints/source/stylesheets/base.sass */
body {
  height: 100%; }

/* line 60, /Users/acheung/work/reefpoints/source/stylesheets/base.sass */
a {
  color: black;
  text-decoration: none;
  cursor: pointer; }
/* line 5, /Users/acheung/work/reefpoints/source/stylesheets/layout.sass */
.l-wrap {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  max-width: 940px; }

/* line 8, /Users/acheung/work/reefpoints/source/stylesheets/layout.sass */
.l-wrap--wide {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  max-width: 1120px; }

/* line 11, /Users/acheung/work/reefpoints/source/stylesheets/layout.sass */
.l-wrap--narrow {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  max-width: 550px; }

/* line 14, /Users/acheung/work/reefpoints/source/stylesheets/layout.sass */
.l-wrap--x-narrow {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  max-width: 250px; }

@media (min-width: 900px) {
  /* line 17, /Users/acheung/work/reefpoints/source/stylesheets/layout.sass */
  .l-col-wrap {
    overflow: auto; } }

/* line 21, /Users/acheung/work/reefpoints/source/stylesheets/layout.sass */
.l-colspan {
  max-width: 680px; }
  @media (min-width: 900px) {
    /* line 21, /Users/acheung/work/reefpoints/source/stylesheets/layout.sass */
    .l-colspan {
      margin-right: 10%;
      float: left;
      width: 60%; } }
  /* line 28, /Users/acheung/work/reefpoints/source/stylesheets/layout.sass */
  .l-colspan h4 {
    padding-top: 65px;
    padding-bottom: 0.75em; }

@media (min-width: 900px) {
  /* line 33, /Users/acheung/work/reefpoints/source/stylesheets/layout.sass */
  .l-col3--narrow, .l-col3--wide {
    float: left; } }

/* line 37, /Users/acheung/work/reefpoints/source/stylesheets/layout.sass */
.l-col3--narrow {
  width: 185px; }
  @media (max-width: 899px) {
    /* line 37, /Users/acheung/work/reefpoints/source/stylesheets/layout.sass */
    .l-col3--narrow {
      margin-top: 80px; } }

@media (min-width: 900px) {
  /* line 43, /Users/acheung/work/reefpoints/source/stylesheets/layout.sass */
  .l-col3--wide {
    width: 30%; } }
/* line 59, /Users/acheung/work/reefpoints/source/stylesheets/load.sass */
p, [data-icon] {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased; }

/* line 65, /Users/acheung/work/reefpoints/source/stylesheets/load.sass */
h4, h5 {
  letter-spacing: 3px;
  text-transform: uppercase; }

/* line 5, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
strong, h4, h5, em {
  line-height: 1.5; }

/* line 8, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
p, label {
  line-height: 1.8; }

/* line 11, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
p, label, h4, em {
  font-size: 18px; }

/* line 14, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
strong, h4 {
  display: block;
  font-family: "NiveauGroteskBold", sans-serif; }

/* line 18, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
p {
  margin-bottom: 1em; }

/* line 21, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
h1, h2 {
  font-family: "LatoLight", sans-serif; }

/* line 24, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
h1 {
  margin-bottom: 0.5em; }
  @media (max-width: 649px) {
    /* line 24, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
    h1 {
      font-size: 40px; } }
  @media (min-width: 650px) {
    /* line 24, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
    h1 {
      font-size: 72px; } }

/* line 31, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
h2 {
  line-height: 1.25; }
  @media (max-width: 860px) {
    /* line 31, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
    h2 {
      font-size: 24px; } }
  @media (min-width: 860px) {
    /* line 31, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
    h2 {
      font-size: 42px; } }

/* line 38, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
h3 {
  font-family: "LatoRegular", sans-serif; }

/* line 48, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
h6 {
  font-size: 16px; }

/* line 51, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
em {
  display: block;
  font-family: "NiveauGroteskLight-Italic", sans-serif; }

/* line 58, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
.text-link {
  color: #2c9dc5;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color; }
  /* line 56, /Users/acheung/work/reefpoints/source/stylesheets/load.sass */
  .text-link:hover {
    color: #4db3d7; }

/* line 62, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
.headline--big, .headline--big--preview {
  font-size: 24px; }

/* line 65, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
.headline--big--preview {
  line-height: 1.25; }

/* line 69, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
.headline--icon {
  text-align: center;
  line-height: 1; }
  /* line 30, /Users/acheung/work/reefpoints/source/stylesheets/load.sass */
  .headline--icon:after, .headline--icon:before {
    display: inline-block;
    position: relative;
    height: 6px;
    width: 6px;
    content: "";
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background-color: #fb755a; }
  /* line 38, /Users/acheung/work/reefpoints/source/stylesheets/load.sass */
  .headline--icon:after {
    top: -4px;
    right: -30px; }
  /* line 41, /Users/acheung/work/reefpoints/source/stylesheets/load.sass */
  .headline--icon:before {
    top: -4px;
    left: -30px; }

/* line 74, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
.headline--text, .headline--text--center {
  margin-top: 40px;
  margin-bottom: 10px; }

/* line 79, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
.headline--text--center {
  text-align: center; }

/* line 83, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
.headline--sub {
  color: #cdcdcd; }

/* line 86, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
.icon__desc {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-family: "LatoLight", sans-serif;
  text-align: center; }
/* line 5, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/main-nav.sass */
header {
  width: 100%;
  z-index: 5; }
  @media (min-width: 650px) and (min-height: 650px) {
    /* line 5, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/main-nav.sass */
    header {
      position: fixed; } }

/* line 11, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/main-nav.sass */
.main-nav-wrap {
  border-width: 1px;
  border-color: #e5e5e5;
  border-bottom-style: solid;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color; }

/* line 17, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/main-nav.sass */
.main-nav {
  position: relative;
  text-align: center; }

/* line 21, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/main-nav.sass */
.logo {
  padding: 17px;
  display: inline-block;
  font-size: 1.875em;
  font-family: "Tungsten A", "Tungsten B"; }

/* line 29, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/main-nav.sass */
.club-sandwich:before, .extended-nav--logo:before, .extended-nav--close:before {
  font-family: "icomoon";
  content: attr(data-icon); }

/* line 33, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/main-nav.sass */
.club-sandwich, .extended-nav--close {
  padding: 12px;
  position: absolute;
  right: -12px;
  font-size: 41px; }
  /* line 38, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/main-nav.sass */
  .club-sandwich:before, .extended-nav--close:before {
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: color;
    -moz-transition-property: color;
    -o-transition-property: color;
    transition-property: color; }
  /* line 42, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/main-nav.sass */
  .club-sandwich:hover:before, .extended-nav--close:hover:before {
    color: #8d8d8d; }
/* line 5, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/extended-nav.sass */
.extended-nav-wrap {
  border-width: 1px;
  border-color: #e5e5e5;
  border-bottom-style: solid;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: margin-top;
  -moz-transition-property: margin-top;
  -o-transition-property: margin-top;
  transition-property: margin-top;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease; }
  @media (min-width: 650px) and (min-height: 650px) {
    /* line 5, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/extended-nav.sass */
    .extended-nav-wrap {
      background-color: rgba(255, 255, 255, 0.98); } }
  @media (max-width: 529px) {
    /* line 5, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/extended-nav.sass */
    .extended-nav-wrap {
      margin-top: -440px;
      height: 440px; } }
  @media (min-width: 530px) and (max-width: 650px) {
    /* line 5, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/extended-nav.sass */
    .extended-nav-wrap {
      margin-top: -780px;
      height: 780px; } }
  @media (min-width: 650px) {
    /* line 5, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/extended-nav.sass */
    .extended-nav-wrap {
      margin-top: -896px;
      height: 896px; } }

@media (max-width: 529px) {
  /* line 28, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/extended-nav.sass */
  .extended-nav-wrap-is-extended {
    margin-top: -672px;
    height: 672px; } }

/* line 36, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/extended-nav.sass */
.extended-nav {
  position: relative;
  overflow: hidden; }
  @media (min-width: 530px) {
    /* line 36, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/extended-nav.sass */
    .extended-nav {
      border-bottom: 1px solid #e5e5e5; } }

/* line 42, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/extended-nav.sass */
.extended-nav--logo {
  margin-left: -6px;
  padding: 16px;
  position: absolute;
  font-size: 2em; }
  @media (min-width: 530px) and (max-width: 819px) {
    /* line 42, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/extended-nav.sass */
    .extended-nav--logo {
      width: 100%;
      border-width: 1px;
      border-color: #e5e5e5;
      border-bottom-style: solid; } }

@media (max-width: 529px) {
  /* line 51, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/extended-nav.sass */
  .extended-nav__items {
    border-width: 1px;
    border-color: #e5e5e5;
    border-top-style: solid; } }
@media (max-width: 679px) {
  /* line 51, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/extended-nav.sass */
  .extended-nav__items {
    margin-top: 71px; } }
@media (min-width: 530px) {
  /* line 51, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/extended-nav.sass */
  .extended-nav__items {
    margin-right: auto;
    margin-left: auto; } }
@media (min-width: 530px) and (max-width: 819px) {
  /* line 51, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/extended-nav.sass */
  .extended-nav__items {
    width: 465px;
    position: relative; } }
@media (min-width: 820px) {
  /* line 51, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/extended-nav.sass */
  .extended-nav__items {
    width: 600px; } }

@media (min-width: 530px) {
  /* line 66, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/extended-nav.sass */
  .extended-nav__items--mobile {
    display: none; } }

/* line 70, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/extended-nav.sass */
.extended-nav__item {
  padding: 20px 6px;
  border-top-style: solid;
  font-family: "LatoLight", sans-serif;
  text-transform: uppercase;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: border-color, color;
  -moz-transition-property: border-color, color;
  -o-transition-property: border-color, color;
  transition-property: border-color, color; }
  @media (max-width: 529px) {
    /* line 70, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/extended-nav.sass */
    .extended-nav__item {
      display: block;
      position: relative;
      z-index: 5;
      text-align: center;
      border-top-width: 1px;
      border-top-color: #f4f4f4;
      background-color: white; }
      /* line 86, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/extended-nav.sass */
      .extended-nav__items--mobile .extended-nav__item {
        border-top: none; } }
  @media (min-width: 530px) {
    /* line 70, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/extended-nav.sass */
    .extended-nav__item {
      float: left;
      border-top-width: 6px;
      border-top-color: white; }
      /* line 93, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/extended-nav.sass */
      .extended-nav__item:hover, .extended-nav__item.active {
        border-top-color: #fb755a; } }
  @media (min-width: 530px) and (max-width: 819px) {
    /* line 70, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/extended-nav.sass */
    .extended-nav__item {
      margin-left: 1%;
      margin-right: 1%; } }
  @media (min-width: 820px) {
    /* line 70, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/extended-nav.sass */
    .extended-nav__item {
      margin-left: 3%;
      margin-right: 3%; } }
  /* line 103, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/extended-nav.sass */
  .extended-nav__item:hover, .extended-nav__item.active {
    color: #fb755a; }
@media (max-width: 529px) {
  /* line 5, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/work-nav.sass */
  .work-nav--mobile {
    text-align: center; } }

/* line 9, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/work-nav.sass */
.work-nav--mobile {
  height: 0;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: height;
  -moz-transition-property: height;
  -o-transition-property: height;
  transition-property: height; }

/* line 14, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/work-nav.sass */
.work-nav--mobile-is-extended {
  height: 232px; }

@media (max-width: 529px) {
  /* line 19, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/work-nav.sass */
  .work-nav {
    display: none; } }
@media (min-width: 530px) {
  /* line 19, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/work-nav.sass */
  .work-nav {
    padding-top: 3em;
    padding-bottom: 3em;
    text-align: center; } }

/* line 28, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/work-nav.sass */
.work-nav-item {
  display: block;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color; }
  /* line 56, /Users/acheung/work/reefpoints/source/stylesheets/load.sass */
  .work-nav-item:hover {
    color: #8d8d8d; }
  @media (max-width: 529px) {
    /* line 28, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/work-nav.sass */
    .work-nav-item {
      padding-bottom: 22px;
      opacity: 0;
      -webkit-transition: opacity 1s, color 0.25s;
      -moz-transition: opacity 1s, color 0.25s;
      -o-transition: opacity 1s, color 0.25s;
      transition: opacity 1s, color 0.25s; }
      /* line 36, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/work-nav.sass */
      .work-nav--mobile-is-extended .work-nav-item {
        opacity: 1; } }
  @media (min-width: 530px) {
    /* line 28, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/work-nav.sass */
    .work-nav-item {
      margin-right: auto;
      margin-left: auto;
      padding-top: 2em;
      padding-bottom: 1em;
      max-width: 480px; }
      /* line 47, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/work-nav.sass */
      .work-nav-item:not(:last-child) {
        border-bottom: 1px dashed #e5e5e5; } }
  @media (max-width: 419px) {
    /* line 50, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/work-nav.sass */
    .work-nav-item.active {
      color: #2c9dc5; } }
  @media (min-width: 420px) {
    /* line 54, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/work-nav.sass */
    .work-nav-item.active .work-nav-item__title {
      position: relative; } }
  @media (min-width: 420px) {
    /* line 58, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/work-nav.sass */
    .work-nav-item.active .work-nav-item__title:before {
      position: absolute;
      font-size: 35px;
      font-family: "icomoon";
      content: attr(data-icon);
      color: #fb755a; } }
  @media (min-width: 420px) and (max-width: 650px) {
    /* line 58, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/work-nav.sass */
    .work-nav-item.active .work-nav-item__title:before {
      margin-left: -42px;
      top: -5px; } }
  @media (min-width: 650px) {
    /* line 58, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/work-nav.sass */
    .work-nav-item.active .work-nav-item__title:before {
      margin-left: -50px;
      top: 8px; } }

/* line 73, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/work-nav.sass */
.work-nav-item__title {
  line-height: 1.2; }
  @media (max-width: 650px) {
    /* line 73, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/work-nav.sass */
    .work-nav-item__title {
      font-size: 30px; } }
  @media (min-width: 650px) {
    /* line 73, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/work-nav.sass */
    .work-nav-item__title {
      font-size: 54px; } }
/* line 3, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/reefpoints-nav.sass */
.logo--reefpoints, .blog-nav__item, .blog-topnav__item, .blog-subnav__item {
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color; }
  /* line 56, /Users/acheung/work/reefpoints/source/stylesheets/load.sass */
  .logo--reefpoints:hover, .blog-nav__item:hover, .blog-topnav__item:hover, .blog-subnav__item:hover {
    color: #2c9dc5; }

/* line 6, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/reefpoints-nav.sass */
.logo--reefpoints {
  margin-bottom: 8px;
  display: inline-block;
  font-size: 30px;
  font-family: "NiveauGroteskBold", sans-serif; }

/* line 13, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/reefpoints-nav.sass */
.blog-topnav {
  overflow: auto;
  font-size: 15px; }
  @media (max-width: 600px) {
    /* line 13, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/reefpoints-nav.sass */
    .blog-topnav {
      margin-bottom: 36px; } }
  @media (min-width: 600px) {
    /* line 13, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/reefpoints-nav.sass */
    .blog-topnav {
      margin-bottom: 54px; } }

/* line 21, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/reefpoints-nav.sass */
.blog-nav__item, .blog-topnav__item, .blog-subnav__item {
  padding-bottom: 8px;
  float: left;
  text-transform: uppercase; }

/* line 26, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/reefpoints-nav.sass */
.blog-topnav__item {
  padding-top: 8px; }
  /* line 29, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/reefpoints-nav.sass */
  .blog-topnav__item:not(:first-child) {
    margin-left: 26px; }

/* line 32, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/reefpoints-nav.sass */
.blog-subnav__item {
  width: 100%; }
  /* line 35, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/reefpoints-nav.sass */
  .blog-subnav__item:not(:first-child) {
    padding-top: 8px; }

/* line 38, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/reefpoints-nav.sass */
.blog-subnav {
  margin-bottom: 36px;
  width: 200px;
  font-size: 15px;
  overflow: auto; }
  @media (min-width: 600px) {
    /* line 38, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/reefpoints-nav.sass */
    .blog-subnav {
      float: left; } }

@media (max-width: 680px) {
  /* line 46, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/reefpoints-nav.sass */
  .blog-subnav.may-hide, .blog-subnav--nested {
    display: none; } }

/* line 50, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/reefpoints-nav.sass */
.blog-subnav__item.active, .blog-topnav__item.active {
  color: #fb755a; }

/* line 53, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/reefpoints-nav.sass */
.blog-subnav__count {
  padding-left: 20px;
  display: inline-block;
  width: 30px;
  float: right;
  color: #cccccc; }
/* line 69, /Users/acheung/work/reefpoints/source/stylesheets/load.sass */
.footer__event--wgr, .footer__event--openhack, .footer__event--ember, .footer__event--ux {
  display: block;
  font-family: "NiveauGroteskBold", sans-serif;
  line-height: 1.5; }

@media (max-width: 880px) {
  /* line 7, /Users/acheung/work/reefpoints/source/stylesheets/modules/footer.sass */
  .l-footer-group:not(:last-child) {
    margin-bottom: 5em; } }
@media (min-width: 880px) {
  /* line 5, /Users/acheung/work/reefpoints/source/stylesheets/modules/footer.sass */
  .l-footer-group {
    width: 30%;
    float: left; }
    /* line 12, /Users/acheung/work/reefpoints/source/stylesheets/modules/footer.sass */
    .l-footer-group:not(:last-child) {
      margin-right: 5%; } }

/* line 15, /Users/acheung/work/reefpoints/source/stylesheets/modules/footer.sass */
footer {
  padding-top: 90px;
  padding-bottom: 90px;
  border-width: 1px;
  border-color: #e5e5e5;
  border-top-style: solid;
  line-height: 1.5; }
  @media (min-width: 880px) {
    /* line 15, /Users/acheung/work/reefpoints/source/stylesheets/modules/footer.sass */
    footer {
      overflow: auto; } }

/* line 24, /Users/acheung/work/reefpoints/source/stylesheets/modules/footer.sass */
.footer-group__title {
  margin-bottom: 1.5em;
  font-size: 18px; }

/* line 28, /Users/acheung/work/reefpoints/source/stylesheets/modules/footer.sass */
.footer-desc {
  color: #8d8d8d; }

/* line 31, /Users/acheung/work/reefpoints/source/stylesheets/modules/footer.sass */
.footer__event--wgr, .footer__event--openhack, .footer__event--ember, .footer__event--ux {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  background-image: url("/images/events.jpg");
  background-size: 50px;
  background-repeat: no-repeat;
  text-indent: 4em;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color; }
  /* line 56, /Users/acheung/work/reefpoints/source/stylesheets/load.sass */
  .footer__event--wgr:hover, .footer__event--openhack:hover, .footer__event--ember:hover, .footer__event--ux:hover {
    color: #2c9dc5; }
  /* line 42, /Users/acheung/work/reefpoints/source/stylesheets/modules/footer.sass */
  .footer__event--wgr:not(:first-of-type), .footer__event--openhack:not(:first-of-type), .footer__event--ember:not(:first-of-type), .footer__event--ux:not(:first-of-type) {
    border-width: 1px;
    border-color: #e5e5e5;
    border-top-style: solid; }
  /* line 44, /Users/acheung/work/reefpoints/source/stylesheets/modules/footer.sass */
  .footer__event--wgr:first-of-type, .footer__event--openhack:first-of-type, .footer__event--ember:first-of-type, .footer__event--ux:first-of-type {
    margin-top: -20px; }

/* line 47, /Users/acheung/work/reefpoints/source/stylesheets/modules/footer.sass */
.footer__event--ember {
  background-position: left -64px; }

/* line 50, /Users/acheung/work/reefpoints/source/stylesheets/modules/footer.sass */
.footer__event--ux {
  background-position: left -128px; }

/* line 53, /Users/acheung/work/reefpoints/source/stylesheets/modules/footer.sass */
.footer__event--openhack {
  background-position: left -192px; }

/* line 56, /Users/acheung/work/reefpoints/source/stylesheets/modules/footer.sass */
.footer__post {
  margin-bottom: 1.5em;
  display: block;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color; }
  /* line 56, /Users/acheung/work/reefpoints/source/stylesheets/load.sass */
  .footer__post:hover {
    color: #2c9dc5; }

/* line 61, /Users/acheung/work/reefpoints/source/stylesheets/modules/footer.sass */
.footer__address {
  margin-top: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  display: block;
  border-width: 1px;
  border-color: #e5e5e5;
  border-top-style: solid;
  color: #8d8d8d; }
/* line 5, /Users/acheung/work/reefpoints/source/stylesheets/modules/border.sass */
.has-border {
  border-width: 1px;
  border-color: #e5e5e5;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid; }

/* line 8, /Users/acheung/work/reefpoints/source/stylesheets/modules/border.sass */
.border--half {
  height: 36px;
  width: 50%;
  border-width: 1px;
  border-color: #e5e5e5;
  border-right-style: solid; }

/* line 13, /Users/acheung/work/reefpoints/source/stylesheets/modules/border.sass */
.case-study__testimonial, .case-study__image__desc__text, .dockyarder__header, .person__header--case-study, .headline--icon {
  padding-top: 1em;
  padding-bottom: 1em;
  border-width: 1px;
  border-color: #e5e5e5;
  border-top-style: solid;
  border-bottom-style: solid; }
/* line 59, /Users/acheung/work/reefpoints/source/stylesheets/load.sass */
.button, .button--center {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased; }

/* line 5, /Users/acheung/work/reefpoints/source/stylesheets/modules/button.sass */
.button, .button--center {
  padding-top: 20px;
  padding-bottom: 18px;
  width: 180px;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background-color: #fb755a;
  font-size: 18px;
  font-family: NiveauGroteskBold;
  text-align: center;
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color; }
  /* line 24, /Users/acheung/work/reefpoints/source/stylesheets/modules/button.sass */
  .button:hover, .button--center:hover {
    background-color: #fc8a73; }

/* line 27, /Users/acheung/work/reefpoints/source/stylesheets/modules/button.sass */
.button--center {
  margin: 1em auto 6em;
  display: block; }

/* line 31, /Users/acheung/work/reefpoints/source/stylesheets/modules/button.sass */
.button {
  margin-top: 1em;
  margin-bottom: 1em;
  display: inline-block; }
/* line 59, /Users/acheung/work/reefpoints/source/stylesheets/load.sass */
.social-link:before {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased; }

/* line 5, /Users/acheung/work/reefpoints/source/stylesheets/modules/social.sass */
.social-links {
  text-align: center; }

/* line 8, /Users/acheung/work/reefpoints/source/stylesheets/modules/social.sass */
.social-links--footer {
  margin-top: 1.5em;
  padding-top: 0.75em;
  border-width: 1px;
  border-color: #e5e5e5;
  border-top-style: solid;
  text-indent: -3px; }

/* line 14, /Users/acheung/work/reefpoints/source/stylesheets/modules/social.sass */
.social-link {
  display: inline-block;
  width: 40px;
  font-size: 2.5em;
  color: #8d8d8d;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color; }
  /* line 56, /Users/acheung/work/reefpoints/source/stylesheets/load.sass */
  .social-link:hover {
    color: #a7a7a7; }
  /* line 20, /Users/acheung/work/reefpoints/source/stylesheets/modules/social.sass */
  .social-link:before {
    font-family: "icomoon";
    content: attr(data-icon); }

/* line 59, /Users/acheung/work/reefpoints/source/stylesheets/load.sass */
.search:after {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased; }

/* line 3, /Users/acheung/work/reefpoints/source/stylesheets/modules/search.sass */
.search__submit {
  display: none; }

@media (max-width: 960px) {
  /* line 6, /Users/acheung/work/reefpoints/source/stylesheets/modules/search.sass */
  .search-wrap {
    position: relative;
    width: 208px; } }
@media (min-width: 960px) {
  /* line 6, /Users/acheung/work/reefpoints/source/stylesheets/modules/search.sass */
  .search-wrap {
    position: absolute;
    top: 0;
    right: 7.05%; } }
@media (min-width: 960px) and (max-width: 1000px) {
  /* line 6, /Users/acheung/work/reefpoints/source/stylesheets/modules/search.sass */
  .search-wrap {
    width: 58%; } }
@media (min-width: 1000px) {
  /* line 6, /Users/acheung/work/reefpoints/source/stylesheets/modules/search.sass */
  .search-wrap {
    width: 100%;
    max-width: 540px; } }

/* line 20, /Users/acheung/work/reefpoints/source/stylesheets/modules/search.sass */
.search {
  margin-right: 50px;
  margin-bottom: 18px; }
  /* line 24, /Users/acheung/work/reefpoints/source/stylesheets/modules/search.sass */
  .search:after {
    margin-left: 18px;
    position: absolute;
    content: "⊜";
    font-size: 2em;
    font-family: "icomoon";
    color: #fb755a; }
    @media (max-width: 600px) {
      /* line 24, /Users/acheung/work/reefpoints/source/stylesheets/modules/search.sass */
      .search:after {
        top: 0;
        right: 0; } }

/* line 37, /Users/acheung/work/reefpoints/source/stylesheets/modules/search.sass */
.search__input {
  padding-bottom: 6px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e5e5e5;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  outline: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "NiveauGroteskRegular", sans-serif;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: border-bottom-color;
  -moz-transition-property: border-bottom-color;
  -o-transition-property: border-bottom-color;
  transition-property: border-bottom-color; }
  /* line 55, /Users/acheung/work/reefpoints/source/stylesheets/modules/search.sass */
  .search__input:hover, .search__input:active, .search__input:focus {
    border-bottom-color: #2c9dc5; }

/* line 58, /Users/acheung/work/reefpoints/source/stylesheets/modules/search.sass */
.nothin {
  margin-left: auto;
  display: none;
  text-align: center;
  max-width: 680px; }
  @media (max-width: 860px) {
    /* line 58, /Users/acheung/work/reefpoints/source/stylesheets/modules/search.sass */
    .nothin {
      margin-top: 80px; } }
  @media (min-width: 860px) {
    /* line 58, /Users/acheung/work/reefpoints/source/stylesheets/modules/search.sass */
    .nothin {
      margin-top: 116px; } }
  /* line 68, /Users/acheung/work/reefpoints/source/stylesheets/modules/search.sass */
  .index .nothin {
    margin-right: auto;
    width: 80%; }
  /* line 72, /Users/acheung/work/reefpoints/source/stylesheets/modules/search.sass */
  .tags .nothin, .authors .nothin {
    width: 60%; }
    @media (max-width: 680px) {
      /* line 72, /Users/acheung/work/reefpoints/source/stylesheets/modules/search.sass */
      .tags .nothin, .authors .nothin {
        margin-right: auto; } }
/* line 5, /Users/acheung/work/reefpoints/source/stylesheets/modules/push.sass */
.push--header, .push--header--index {
  height: 3em; }
  @media (min-width: 650px) and (min-height: 650px) {
    /* line 5, /Users/acheung/work/reefpoints/source/stylesheets/modules/push.sass */
    .push--header, .push--header--index {
      height: 12em; } }

@media (min-width: 649px) and (max-height: 650px) {
  /* line 10, /Users/acheung/work/reefpoints/source/stylesheets/modules/push.sass */
  .push--header--index {
    height: 8em; } }

/* line 15, /Users/acheung/work/reefpoints/source/stylesheets/modules/push.sass */
.push--footer {
  clear: both; }
  @media (max-width: 800px) {
    /* line 15, /Users/acheung/work/reefpoints/source/stylesheets/modules/push.sass */
    .push--footer {
      height: 6em; } }
  @media (min-width: 800px) {
    /* line 15, /Users/acheung/work/reefpoints/source/stylesheets/modules/push.sass */
    .push--footer {
      height: 12em; } }
/* line 3, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/content.sass */
.post__content {
  line-height: 1.8; }
  /* line 6, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/content.sass */
  .post__content h1, .post__content h2, .post__content h3, .post__content h4, .post__content h5, .post__content h6 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: "NiveauGroteskBold", sans-serif;
    text-transform: uppercase;
    line-height: 1.8;
    letter-spacing: 3px; }
  /* line 16, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/content.sass */
  .post__content h3, .post__content h4, .post__content h5, .post__content h6 {
    color: #8d8d8d; }
  /* line 18, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/content.sass */
  .post__content h1 + h3, .post__content h2 + h3, .post__content h1 + h4, .post__content h2 + h4, .post__content h1 + h5, .post__content h2 + h5, .post__content h1 + h6, .post__content h2 + h6 {
    margin-top: 0; }
  /* line 20, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/content.sass */
  .post__content p, .post__content li {
    margin-bottom: 18px;
    font-size: 18px; }
  /* line 23, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/content.sass */
  .post__content a {
    color: #2c9dc5;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: color;
    -moz-transition-property: color;
    -o-transition-property: color;
    transition-property: color; }
    /* line 56, /Users/acheung/work/reefpoints/source/stylesheets/load.sass */
    .post__content a:hover {
      color: #4db3d7; }
  /* line 26, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/content.sass */
  .post__content ul, .post__content ol {
    margin-bottom: 18px; }
  /* line 28, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/content.sass */
  .post__content ul li {
    margin-left: 1em;
    list-style-type: disc; }
    /* line 31, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/content.sass */
    .post__content ul li li {
      list-style-type: circle; }
  /* line 33, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/content.sass */
  .post__content ol li {
    margin-left: 1.25em;
    list-style-type: decimal; }
  /* line 36, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/content.sass */
  .post__content img {
    margin: 0 auto 2em;
    display: block;
    width: 100%; }
  /* line 40, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/content.sass */
  .post__content strong {
    font-family: "NiveauGroteskBold", sans-serif; }
  /* line 42, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/content.sass */
  .post__content em {
    display: inline;
    font-family: "NiveauGroteskLight-Italic"; }
@media (max-width: 600px) {
  /* line 3, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/layout.sass */
  #index {
    margin-top: -2em; } }
@media (min-width: 600px) {
  /* line 3, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/layout.sass */
  #index {
    margin-top: -3em; } }
@media (min-width: 680px) {
  /* line 9, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/layout.sass */
  .tags #index, .authors #index {
    width: 58%;
    float: right; } }
@media (min-width: 780px) {
  /* line 9, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/layout.sass */
  .tags #index, .authors #index {
    margin-right: 7.07%; } }
@media (min-width: 1000px) {
  /* line 9, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/layout.sass */
  .tags #index, .authors #index {
    width: 540px; } }

/* line 18, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/layout.sass */
.post-wrap, .post-wrap--index {
  overflow: auto; }
  @media (max-width: 600px) {
    /* line 18, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/layout.sass */
    .post-wrap, .post-wrap--index {
      padding-top: 2em;
      padding-bottom: 2em; } }
  @media (min-width: 600px) {
    /* line 18, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/layout.sass */
    .post-wrap, .post-wrap--index {
      padding-top: 3em;
      padding-bottom: 3em; } }

@media (max-width: 600px) {
  /* line 32, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/layout.sass */
  .post-wrap--index:not(:last-child) {
    border-bottom: 1px dashed #e5e5e5; } }

/* line 35, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/layout.sass */
.post-wrap--no-comments {
  position: relative;
  overflow: auto; }
  @media (min-width: 900px) {
    /* line 35, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/layout.sass */
    .post-wrap--no-comments {
      margin-bottom: 54px; } }

/* line 41, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/layout.sass */
.post {
  float: right; }
  @media (max-width: 600px) {
    /* line 41, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/layout.sass */
    .post {
      width: 100%; } }
  @media (min-width: 600px) and (max-width: 1000px) {
    /* line 41, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/layout.sass */
    .post {
      width: 58%; } }
  @media (min-width: 780px) {
    /* line 41, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/layout.sass */
    .post {
      padding-right: 7.05%; } }
  @media (min-width: 1000px) {
    /* line 41, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/layout.sass */
    .post {
      width: 100%;
      max-width: 540px; } }
  @media (min-width: 680px) {
    /* line 53, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/layout.sass */
    .tags .post, .authors .post {
      width: 100%;
      max-width: 540px;
      padding-right: 0; } }

/* line 59, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/layout.sass */
.reefpoints-wrap {
  position: relative; }
/* line 3, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/meta.sass */
.post__title--index, .post__meta--author {
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color; }
  /* line 56, /Users/acheung/work/reefpoints/source/stylesheets/load.sass */
  .post__title--index:hover, .post__meta--author:hover {
    color: #2c9dc5; }

/* line 6, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/meta.sass */
.post__title, .post__title--index {
  margin-bottom: 18px;
  display: block;
  font-family: "LatoLight", sans-serif;
  line-height: 1.185; }
  @media (max-width: 680px) {
    /* line 6, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/meta.sass */
    .post__title, .post__title--index {
      font-size: 2.5em; } }
  @media (min-width: 680px) {
    /* line 6, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/meta.sass */
    .post__title, .post__title--index {
      font-size: 54px; } }

/* line 19, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/meta.sass */
.post__metas, .post__metas--post {
  text-transform: uppercase;
  line-height: 1.5; }
  @media (min-width: 600px) {
    /* line 19, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/meta.sass */
    .post__metas, .post__metas--post {
      padding-top: 1em;
      float: left;
      width: 160px;
      border-top: 4px solid #fb755a; } }

@media (min-width: 680px) {
  /* line 29, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/meta.sass */
  .tags .post__metas, .tags .post__metas--post, .authors .post__metas, .authors .post__metas--post {
    display: none; } }

@media (max-width: 600px) {
  /* line 33, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/meta.sass */
  .post__metas--post {
    margin-bottom: 28px; } }

/* line 38, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/meta.sass */
.post__meta--author, .post__meta--data {
  display: block;
  font-size: 18px; }

/* line 42, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/meta.sass */
.post__meta--date {
  margin-bottom: 18px;
  display: block;
  color: #8d8d8d; }

/* line 47, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/meta.sass */
.post__meta--tag {
  display: block;
  font-size: 15px;
  color: #2c9dc5;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color; }
  /* line 56, /Users/acheung/work/reefpoints/source/stylesheets/load.sass */
  .post__meta--tag:hover {
    color: #4db3d7; }

/* line 53, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/meta.sass */
.post__meta--desc {
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 1.8; }
@media (max-width: 600px) {
  /* line 3, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/share.sass */
  .post__share {
    margin-top: 54px;
    margin-bottom: 54px; } }
@media (min-width: 600px) {
  /* line 3, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/share.sass */
  .post__share {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 130px; } }

/* line 14, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/share.sass */
.post__share__links {
  margin-bottom: 18px;
  padding-bottom: 18px;
  border-bottom: 4px solid #fb755a; }

/* line 19, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/share.sass */
.twitter-share-button {
  padding-bottom: 0.5em;
  display: block; }

/* line 23, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/share.sass */
.button--post {
  margin-bottom: 0;
  width: 130px; }

@media (min-width: 600px) {
  /* line 28, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/share.sass */
  .post__comments {
    margin-top: 54px;
    float: right; } }
@media (min-width: 600px) and (max-width: 1000px) {
  /* line 28, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/share.sass */
  .post__comments {
    width: 58%; } }
@media (min-width: 780px) {
  /* line 28, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/share.sass */
  .post__comments {
    margin-right: 7.05%; } }
@media (min-width: 1000px) {
  /* line 28, /Users/acheung/work/reefpoints/source/stylesheets/modules/post/share.sass */
  .post__comments {
    width: 540px; } }
/* line 5, /Users/acheung/work/reefpoints/source/stylesheets/state.sass */
.header-has-background {
  background-color: white; }

/* line 8, /Users/acheung/work/reefpoints/source/stylesheets/state.sass */
.takes-full-height {
  margin-top: 0 !important; }
  @media (min-width: 650px) and (min-height: 650px) {
    /* line 8, /Users/acheung/work/reefpoints/source/stylesheets/state.sass */
    .takes-full-height {
      height: 100%;
      overflow: scroll; } }

@media (min-width: 650px) and (min-height: 650px) {
  /* line 14, /Users/acheung/work/reefpoints/source/stylesheets/state.sass */
  .has-no-scroll {
    overflow: hidden; } }

@media (min-width: 650px) and (min-height: 650px) {
  /* line 18, /Users/acheung/work/reefpoints/source/stylesheets/state.sass */
  .header-is-extended {
    height: 100%; } }

@media (max-width: 480px) {
  /* line 22, /Users/acheung/work/reefpoints/source/stylesheets/state.sass */
  .hide-on-mobile {
    display: none; } }

@media (max-width: 860px) {
  /* line 26, /Users/acheung/work/reefpoints/source/stylesheets/state.sass */
  .hide-on-tablet {
    display: none; } }

@media (min-width: 1080px) {
  /* line 30, /Users/acheung/work/reefpoints/source/stylesheets/state.sass */
  .has-counter {
    padding-bottom: 1em; }
    /* line 33, /Users/acheung/work/reefpoints/source/stylesheets/state.sass */
    .has-counter:before {
      padding-top: 0.25em;
      display: block;
      border-top: 4px solid #fb755a;
      font-size: 2em;
      font-family: NiveauGroteskBold;
      content: counter(customlistcounter,upper-roman);
      color: #fb755a; } }

/* line 43, /Users/acheung/work/reefpoints/source/stylesheets/state.sass */
.is-hidden {
  display: block;
  text-indent: -9999px;
  height: 0; }
/* line 59, /Users/acheung/work/reefpoints/source/stylesheets/load.sass */
.CodeRay {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased; }

/* line 9, /Users/acheung/work/reefpoints/source/stylesheets/highlight.sass */
code {
  font-family: Menlo, monospace;
  font-size: 13px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #f6f6f6;
  border: 1px solid #d1d1d1;
  padding: 5px;
  margin-right: 2px;
  margin-left: 2px; }

/* line 21, /Users/acheung/work/reefpoints/source/stylesheets/highlight.sass */
.highlight {
  margin: 2em 0;
  position: relative;
  border: 1px solid #d1d1d1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px white, inset -1px 1px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px white, inset -1px 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px white, inset -1px 1px 4px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  font-family: Menlo, monospace;
  line-height: 16px;
  overflow: hidden; }
  /* line 33, /Users/acheung/work/reefpoints/source/stylesheets/highlight.sass */
  .highlight .scroller {
    overflow: auto; }
  /* line 36, /Users/acheung/work/reefpoints/source/stylesheets/highlight.sass */
  .highlight table {
    margin: 0; }
  /* line 39, /Users/acheung/work/reefpoints/source/stylesheets/highlight.sass */
  .highlight .ribbon {
    position: absolute;
    right: 0;
    bottom: 6px;
    width: 52px;
    height: 20px;
    background-size: 100%; }
  /* line 47, /Users/acheung/work/reefpoints/source/stylesheets/highlight.sass */
  .highlight.javascript .ribbon, .highlight.js .ribbon {
    background-image: url("/images/js-ribbon.png"); }
  /* line 49, /Users/acheung/work/reefpoints/source/stylesheets/highlight.sass */
  .highlight.html .ribbon {
    background-image: url("/images/html-ribbon.png"); }
  /* line 51, /Users/acheung/work/reefpoints/source/stylesheets/highlight.sass */
  .highlight.handlebars .ribbon {
    background-image: url("/images/handlebars-ribbon.png"); }

/* line 54, /Users/acheung/work/reefpoints/source/stylesheets/highlight.sass */
.CodeRay {
  width: 100%;
  color: #2a5567; }
  /* line 58, /Users/acheung/work/reefpoints/source/stylesheets/highlight.sass */
  .CodeRay td.line-numbers {
    width: 38px;
    min-width: 38px;
    text-align: center;
    border-right: 1px solid #d1d1d1;
    background-color: #f6f6f6;
    color: #b4b4b4;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px; }
  /* line 68, /Users/acheung/work/reefpoints/source/stylesheets/highlight.sass */
  .CodeRay td.code {
    padding: 8px 13px; }
  /* line 71, /Users/acheung/work/reefpoints/source/stylesheets/highlight.sass */
  .CodeRay .tag {
    color: #1f58ce; }
  /* line 74, /Users/acheung/work/reefpoints/source/stylesheets/highlight.sass */
  .CodeRay .comment {
    color: #777777; }
  /* line 77, /Users/acheung/work/reefpoints/source/stylesheets/highlight.sass */
  .CodeRay .attribute-name {
    color: #1f58ce; }
  /* line 80, /Users/acheung/work/reefpoints/source/stylesheets/highlight.sass */
  .CodeRay .content {
    color: #153c8c; }
  /* line 83, /Users/acheung/work/reefpoints/source/stylesheets/highlight.sass */
  .CodeRay .string {
    color: #1f58ce; }
  /* line 86, /Users/acheung/work/reefpoints/source/stylesheets/highlight.sass */
  .CodeRay .keyword {
    color: #ce791f; }
  /* line 89, /Users/acheung/work/reefpoints/source/stylesheets/highlight.sass */
  .CodeRay .key, .CodeRay .function {
    color: #2b1fce; }
  /* line 92, /Users/acheung/work/reefpoints/source/stylesheets/highlight.sass */
  .CodeRay .local-variable {
    color: #1f58ce; }

/* line 98, /Users/acheung/work/reefpoints/source/stylesheets/highlight.sass */
.handlebars .CodeRay .inline,
.handlebars .CodeRay .inline .inline-delimiter, .handlebars .CodeRay .inline .delimiter {
  color: #00aa00; }
/* line 102, /Users/acheung/work/reefpoints/source/stylesheets/highlight.sass */
.handlebars .CodeRay .inline .attribute-name {
  color: #007700; }
/* line 105, /Users/acheung/work/reefpoints/source/stylesheets/highlight.sass */
.handlebars .CodeRay .inline .attribute-value, .handlebars .CodeRay .inline .content {
  color: #004400; }
