/* line 17, /Users/dug/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, /Users/dug/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, /Users/dug/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, /Users/dug/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, /Users/dug/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, /Users/dug/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, /Users/dug/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, /Users/dug/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, /Users/dug/.rbenv/versions/2.0.0-p247/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 65, /Users/dug/dockyard/reefpoints/source/stylesheets/load.sass */
.header--thin, .h1, h1, h2 {
  font-family: "LatoLight", sans-serif; }

@media (max-width: 600px) {
  /* line 68, /Users/dug/dockyard/reefpoints/source/stylesheets/load.sass */
  .h1, h1 {
    font-size: 2.5em; } }
@media (min-width: 600px) {
  /* line 68, /Users/dug/dockyard/reefpoints/source/stylesheets/load.sass */
  .h1, h1 {
    font-size: 72px; } }

/* line 75, /Users/dug/dockyard/reefpoints/source/stylesheets/load.sass */
.h2, h2 {
  line-height: 1.25; }
  @media (max-width: 860px) {
    /* line 75, /Users/dug/dockyard/reefpoints/source/stylesheets/load.sass */
    .h2, h2 {
      font-size: 1.5em; } }
  @media (min-width: 860px) {
    /* line 75, /Users/dug/dockyard/reefpoints/source/stylesheets/load.sass */
    .h2, h2 {
      font-size: 2.625em; } }

@font-face {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/icomoon-021598c6.eot");
  src: url("/fonts/icomoon-021598c6.eot?#iefix") format("eot"), url("/fonts/icomoon-b0b7db8b.woff") format("woff"), url("/fonts/icomoon-d8d52647.ttf") format("truetype"); }

@font-face {
  font-family: "NiveauGroteskRegular";
  src: url("/fonts/NiveauGroteskRegular-8029c11d.eot");
  src: url("/fonts/NiveauGroteskRegular-8029c11d.eot?#iefix") format("embedded-opentype"), url("/fonts/NiveauGroteskRegular-ce44d1f6.woff") format("woff"), url("/fonts/NiveauGroteskRegular-38c57c7e.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "NiveauGroteskBold";
  src: url("/fonts/NiveauGroteskBold-76ebc036.eot");
  src: url("/fonts/NiveauGroteskBold-76ebc036.eot?#iefix") format("embedded-opentype"), url("/fonts/NiveauGroteskBold-4c145bc2.woff") format("woff"), url("/fonts/NiveauGroteskBold-7efd336e.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "NiveauGroteskLight-Italic";
  src: url("/fonts/NiveauGroteskLight-Italic-c7df9133.eot");
  src: url("/fonts/NiveauGroteskLight-Italic-c7df9133.eot?#iefix") format("embedded-opentype"), url("/fonts/NiveauGroteskLight-Italic-b69625c1.woff") format("woff"), url("/fonts/NiveauGroteskLight-Italic-ae3b17c0.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "LatoRegular";
  src: url("/fonts/LatoRegular-041855c9.eot");
  src: url("/fonts/LatoRegular-041855c9.eot?#iefix") format("embedded-opentype"), url("/fonts/LatoRegular-a333866b.woff") format("woff"), url("/fonts/LatoRegular-e80be1af.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "LatoLight";
  src: url("/fonts/LatoLight-c808d8c1.eot");
  src: url("/fonts/LatoLight-c808d8c1.eot?#iefix") format("embedded-opentype"), url("/fonts/LatoLight-e9b8884c.woff") format("woff"), url("/fonts/LatoLight-a3ec3324.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* line 53, /Users/dug/dockyard/reefpoints/source/stylesheets/base.sass */
html {
  display: block;
  background: white; }

/* line 57, /Users/dug/dockyard/reefpoints/source/stylesheets/base.sass */
body {
  height: 100%;
  font-size: 16px;
  font-family: "NiveauGroteskRegular", sans-serif; }

/* line 63, /Users/dug/dockyard/reefpoints/source/stylesheets/base.sass */
a {
  color: black;
  text-decoration: none;
  cursor: pointer; }

/* line 77, /Users/dug/dockyard/reefpoints/source/stylesheets/base.sass */
h3 {
  font-family: "LatoRegular", sans-serif; }

/* line 80, /Users/dug/dockyard/reefpoints/source/stylesheets/base.sass */
h4 {
  font-family: "NiveauGroteskBold", sans-serif; }

/* line 83, /Users/dug/dockyard/reefpoints/source/stylesheets/base.sass */
h5 {
  padding-bottom: 0.75em;
  font-size: 18px;
  font-family: "NiveauGroteskLight-Italic", sans-serif;
  line-height: 1.5; }

/* line 90, /Users/dug/dockyard/reefpoints/source/stylesheets/base.sass */
h6 {
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 1.5; }

/* line 95, /Users/dug/dockyard/reefpoints/source/stylesheets/base.sass */
p, [data-icon] {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased; }
