/* line 17, /Users/acheung/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, /Users/acheung/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, /Users/acheung/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, /Users/acheung/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, /Users/acheung/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, /Users/acheung/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, /Users/acheung/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, /Users/acheung/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, /Users/acheung/.rbenv/versions/2.1.4/lib/ruby/gems/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: "icomoon";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/icomoon-182e3171.eot");
  src: url("/fonts/icomoon-182e3171.eot?#iefix") format("eot"), url("/fonts/icomoon-41501900.woff") format("woff"), url("/fonts/icomoon-dee9cac7.ttf") format("truetype"); }

@font-face {
  font-family: "NiveauGroteskRegular";
  src: url("/fonts/NiveauGroteskRegular-8029c11d.eot");
  src: url("/fonts/NiveauGroteskRegular-8029c11d.eot?#iefix") format("embedded-opentype"), url("/fonts/NiveauGroteskRegular-ce44d1f6.woff") format("woff"), url("/fonts/NiveauGroteskRegular-38c57c7e.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "NiveauGroteskBold";
  src: url("/fonts/NiveauGroteskBold-76ebc036.eot");
  src: url("/fonts/NiveauGroteskBold-76ebc036.eot?#iefix") format("embedded-opentype"), url("/fonts/NiveauGroteskBold-4c145bc2.woff") format("woff"), url("/fonts/NiveauGroteskBold-7efd336e.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "NiveauGroteskLight-Italic";
  src: url("/fonts/NiveauGroteskLight-Italic-c7df9133.eot");
  src: url("/fonts/NiveauGroteskLight-Italic-c7df9133.eot?#iefix") format("embedded-opentype"), url("/fonts/NiveauGroteskLight-Italic-b69625c1.woff") format("woff"), url("/fonts/NiveauGroteskLight-Italic-ae3b17c0.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "LatoRegular";
  src: url("/fonts/LatoRegular-041855c9.eot");
  src: url("/fonts/LatoRegular-041855c9.eot?#iefix") format("embedded-opentype"), url("/fonts/LatoRegular-a333866b.woff") format("woff"), url("/fonts/LatoRegular-e80be1af.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "LatoLight";
  src: url("/fonts/LatoLight-c808d8c1.eot");
  src: url("/fonts/LatoLight-c808d8c1.eot?#iefix") format("embedded-opentype"), url("/fonts/LatoLight-e9b8884c.woff") format("woff"), url("/fonts/LatoLight-a3ec3324.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* line 53, /Users/acheung/work/reefpoints/source/stylesheets/base.sass */
html {
  display: block;
  font-family: "NiveauGroteskRegular", sans-serif; }

/* line 57, /Users/acheung/work/reefpoints/source/stylesheets/base.sass */
body {
  height: 100%;
  background-color: white; }

/* line 61, /Users/acheung/work/reefpoints/source/stylesheets/base.sass */
a {
  text-decoration: none;
  color: black;
  cursor: pointer; }

/* line 66, /Users/acheung/work/reefpoints/source/stylesheets/base.sass */
[data-icon]:before {
  font-weight: normal;
  font-family: "icomoon";
  content: attr(data-icon);
  speak: none; }

/* line 73, /Users/acheung/work/reefpoints/source/stylesheets/base.sass */
table, td, th, thead, tbody, tr {
  border: 1px solid #d1d1d1; }

/* line 76, /Users/acheung/work/reefpoints/source/stylesheets/base.sass */
table {
  margin-bottom: 16px; }

/* line 79, /Users/acheung/work/reefpoints/source/stylesheets/base.sass */
th {
  font-size: 1.125em;
  font-family: "NiveauGroteskBold", sans-serif; }

/* line 84, /Users/acheung/work/reefpoints/source/stylesheets/base.sass */
td, th {
  padding: 8px 15px; }
