/* line 3, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/blog-layout.sass */
.l-wrap--blog {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  max-width: 940px;
  position: relative; }

/* line 7, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/blog-layout.sass */
.l-wrap--blog__filter {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  max-width: 500px; }

/* line 10, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/blog-layout.sass */
.l-wrap--blog__posts {
  overflow: auto; }
  @media (max-width: 639px) {
    /* line 10, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/blog-layout.sass */
    .l-wrap--blog__posts {
      margin-bottom: 44px;
      padding-bottom: 44px; } }
  @media (min-width: 640px) {
    /* line 10, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/blog-layout.sass */
    .l-wrap--blog__posts {
      padding-bottom: 84px; } }
  @media (max-width: 639px) {
    /* line 17, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/blog-layout.sass */
    .l-wrap--blog__posts:not(:last-child) {
      border-bottom: 1px dashed #e5e5e5; } }

/* line 21, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/blog-layout.sass */
.l-wrap--blog__post {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  max-width: 620px; }
