/* line 3, /Users/dyun/Stuff/reefpoints/source/stylesheets/layout.sass */
.wrap {
  margin-left: auto;
  margin-right: auto; }

/* line 7, /Users/dyun/Stuff/reefpoints/source/stylesheets/layout.sass */
.show-all-posts {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center; }

/* line 13, /Users/dyun/Stuff/reefpoints/source/stylesheets/layout.sass */
.index-section {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #e6e7e8;
  overflow: auto; }

/* line 22, /Users/dyun/Stuff/reefpoints/source/stylesheets/layout.sass */
.expanding-the-yard .post-content {
  padding: 0;
  max-width: none; }
/* line 25, /Users/dyun/Stuff/reefpoints/source/stylesheets/layout.sass */
.expanding-the-yard .content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
  max-width: 720px; }

@media (min-width: 1220px) {
  /* line 33, /Users/dyun/Stuff/reefpoints/source/stylesheets/layout.sass */
  .index-post {
    max-width: 680px; } }
@media (min-width: 1100px) and (max-width: 1220px) {
  /* line 37, /Users/dyun/Stuff/reefpoints/source/stylesheets/layout.sass */
  .index-post {
    max-width: 600px; } }
@media (min-width: 1100px) {
  /* line 41, /Users/dyun/Stuff/reefpoints/source/stylesheets/layout.sass */
  .wrap {
    width: 980px; }

  /* line 43, /Users/dyun/Stuff/reefpoints/source/stylesheets/layout.sass */
  .show-all-posts {
    width: 480px; }

  /* line 45, /Users/dyun/Stuff/reefpoints/source/stylesheets/layout.sass */
  .index-post {
    width: 100%; }

  /* line 47, /Users/dyun/Stuff/reefpoints/source/stylesheets/layout.sass */
  .index-meta {
    padding-left: 5%;
    width: 170px; } }
@media (max-width: 1100px) {
  /* line 52, /Users/dyun/Stuff/reefpoints/source/stylesheets/layout.sass */
  .wrap {
    width: 90%; }

  /* line 54, /Users/dyun/Stuff/reefpoints/source/stylesheets/layout.sass */
  .show-all-posts {
    width: 90%;
    padding: 0.75em 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    background-color: #abd4e7;
    font-size: 1.5em;
    font-weight: bold;
    color: white; }

  /* line 66, /Users/dyun/Stuff/reefpoints/source/stylesheets/layout.sass */
  .post-div {
    top: 2em;
    width: 90%;
    max-width: 720px; }

  /* line 70, /Users/dyun/Stuff/reefpoints/source/stylesheets/layout.sass */
  #blog footer {
    padding-top: 7em; } }
@media (min-width: 780px) and (max-width: 1100px) {
  /* line 74, /Users/dyun/Stuff/reefpoints/source/stylesheets/layout.sass */
  .index-post {
    width: 70%;
    right: 20px; }

  /* line 77, /Users/dyun/Stuff/reefpoints/source/stylesheets/layout.sass */
  .index-meta {
    width: 20%;
    padding: 0 20px 0 0; } }
@media (min-width: 780px) {
  /* line 82, /Users/dyun/Stuff/reefpoints/source/stylesheets/layout.sass */
  .index-section {
    width: 80%;
    max-width: 980px; }

  /* line 85, /Users/dyun/Stuff/reefpoints/source/stylesheets/layout.sass */
  .index-post {
    float: right;
    padding-right: 5%; }

  /* line 88, /Users/dyun/Stuff/reefpoints/source/stylesheets/layout.sass */
  .index-meta {
    float: left;
    text-align: right; }

  /* line 91, /Users/dyun/Stuff/reefpoints/source/stylesheets/layout.sass */
  .post-content img {
    width: 50%; } }
@media (max-width: 780px) {
  /* line 95, /Users/dyun/Stuff/reefpoints/source/stylesheets/layout.sass */
  .index-post {
    text-align: center;
    float: none;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto; }

  /* line 101, /Users/dyun/Stuff/reefpoints/source/stylesheets/layout.sass */
  .search {
    width: 85%;
    margin-bottom: 38px; }

  /* line 104, /Users/dyun/Stuff/reefpoints/source/stylesheets/layout.sass */
  .index-section {
    width: 90%; }

  /* line 106, /Users/dyun/Stuff/reefpoints/source/stylesheets/layout.sass */
  .index-meta {
    display: none; }

  /* line 108, /Users/dyun/Stuff/reefpoints/source/stylesheets/layout.sass */
  .index-title {
    font-size: 28px; }

  /* line 110, /Users/dyun/Stuff/reefpoints/source/stylesheets/layout.sass */
  .index-summary {
    margin-top: 1em;
    margin-left: 2em;
    margin-right: 2em; }

  /* line 114, /Users/dyun/Stuff/reefpoints/source/stylesheets/layout.sass */
  .post-content img {
    width: 100%; } }
@media (min-width: 480px) {
  /* line 118, /Users/dyun/Stuff/reefpoints/source/stylesheets/layout.sass */
  .expanding-the-yard .content {
    padding-top: 40px;
    padding-bottom: 40px; } }
@media (max-width: 480px) {
  /* line 123, /Users/dyun/Stuff/reefpoints/source/stylesheets/layout.sass */
  .link-in-post {
    display: none; }

  /* line 125, /Users/dyun/Stuff/reefpoints/source/stylesheets/layout.sass */
  .post-date {
    display: block; }

  /* line 127, /Users/dyun/Stuff/reefpoints/source/stylesheets/layout.sass */
  .expanding-the-yard .content {
    padding-top: 20px;
    padding-bottom: 20px; }

  /* line 130, /Users/dyun/Stuff/reefpoints/source/stylesheets/layout.sass */
  .design .issue {
    width: 91.5%; } }
/* line 133, /Users/dyun/Stuff/reefpoints/source/stylesheets/layout.sass */
table.CodeRay td.line-numbers {
  min-width: 38px; }

/* line 136, /Users/dyun/Stuff/reefpoints/source/stylesheets/layout.sass */
code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  border-radius: 3px;
  background-color: #f8f8f8;
  border: 1px solid #dddddd;
  padding: 0px 5px;
  margin: 0 2px; }
