/* line 65, /Users/dug/dockyard/reefpoints/source/stylesheets/load.sass */
.header--thin, .h1 {
  font-family: "LatoLight", sans-serif; }

@media (max-width: 600px) {
  /* line 68, /Users/dug/dockyard/reefpoints/source/stylesheets/load.sass */
  .h1 {
    font-size: 2.5em; } }
@media (min-width: 600px) {
  /* line 68, /Users/dug/dockyard/reefpoints/source/stylesheets/load.sass */
  .h1 {
    font-size: 72px; } }

/* line 75, /Users/dug/dockyard/reefpoints/source/stylesheets/load.sass */
.h2 {
  line-height: 1.25; }
  @media (max-width: 860px) {
    /* line 75, /Users/dug/dockyard/reefpoints/source/stylesheets/load.sass */
    .h2 {
      font-size: 1.5em; } }
  @media (min-width: 860px) {
    /* line 75, /Users/dug/dockyard/reefpoints/source/stylesheets/load.sass */
    .h2 {
      font-size: 2.625em; } }

/* line 5, /Users/dug/dockyard/reefpoints/source/stylesheets/layout.sass */
.l-wrap {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  max-width: 940px;
  position: relative; }

/* line 8, /Users/dug/dockyard/reefpoints/source/stylesheets/layout.sass */
.l-wrap--wide {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  max-width: 1120px;
  position: relative; }

/* line 11, /Users/dug/dockyard/reefpoints/source/stylesheets/layout.sass */
.l-wrap--narrow {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  max-width: 550px;
  position: relative; }

/* line 14, /Users/dug/dockyard/reefpoints/source/stylesheets/layout.sass */
.l-wrap--x-narrow {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  max-width: 250px;
  position: relative; }

/* line 17, /Users/dug/dockyard/reefpoints/source/stylesheets/layout.sass */
.l-left {
  display: inline-block; }

/* line 20, /Users/dug/dockyard/reefpoints/source/stylesheets/layout.sass */
.l-center {
  margin-right: auto;
  margin-left: auto;
  display: block; }

@media (max-width: 480px) {
  /* line 26, /Users/dug/dockyard/reefpoints/source/stylesheets/layout.sass */
  .l-desktop {
    display: none; } }
