/* line 5, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/layout.sass */
.l-wrap {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  max-width: 940px; }

/* line 8, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/layout.sass */
.l-wrap--wide {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  max-width: 1120px; }

/* line 11, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/layout.sass */
.l-wrap--narrow {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  max-width: 550px; }

/* line 14, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/layout.sass */
.l-wrap--x-narrow {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  max-width: 250px; }

@media (min-width: 900px) {
  /* line 17, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/layout.sass */
  .l-col-wrap {
    overflow: auto; } }

/* line 21, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/layout.sass */
.l-colspan {
  max-width: 680px; }
  @media (min-width: 900px) {
    /* line 21, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/layout.sass */
    .l-colspan {
      margin-right: 10%;
      float: left;
      width: 60%; } }
  /* line 28, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/layout.sass */
  .l-colspan h4 {
    padding-top: 65px;
    padding-bottom: 0.75em; }

@media (min-width: 900px) {
  /* line 33, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/layout.sass */
  .l-col3--narrow, .l-col3--wide {
    float: left; } }

/* line 37, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/layout.sass */
.l-col3--narrow {
  width: 185px; }
  @media (max-width: 899px) {
    /* line 37, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/layout.sass */
    .l-col3--narrow {
      margin-top: 80px; } }

@media (min-width: 900px) {
  /* line 43, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/layout.sass */
  .l-col3--wide {
    width: 30%; } }
