/* line 65, /Users/acheung/work/reefpoints/source/stylesheets/load.sass */
.header--thin, .h1 {
  font-family: "LatoLight", sans-serif; }

@media (max-width: 600px) {
  /* line 68, /Users/acheung/work/reefpoints/source/stylesheets/load.sass */
  .h1 {
    font-size: 2.5em; } }
@media (min-width: 600px) {
  /* line 68, /Users/acheung/work/reefpoints/source/stylesheets/load.sass */
  .h1 {
    font-size: 72px; } }

/* line 75, /Users/acheung/work/reefpoints/source/stylesheets/load.sass */
.h2 {
  line-height: 1.25; }
  @media (max-width: 860px) {
    /* line 75, /Users/acheung/work/reefpoints/source/stylesheets/load.sass */
    .h2 {
      font-size: 1.5em; } }
  @media (min-width: 860px) {
    /* line 75, /Users/acheung/work/reefpoints/source/stylesheets/load.sass */
    .h2 {
      font-size: 2.625em; } }
