/* line 3, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
#blog li.nav-blog a {
  background-color: #f26364; }

/* line 6, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.logo {
  position: relative;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  font-family: candyscript, sans-serif;
  text-align: center; }

@media (min-width: 780px) {
  /* line 14, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
  .logo {
    font-size: 6em; } }
@media (min-width: 400px) and (max-width: 780px) {
  /* line 18, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
  .logo {
    font-size: 5em; } }
@media (max-width: 400px) {
  /* line 22, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
  .logo {
    font-size: 4em; } }
/* line 25, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.search_reefpoints label {
  display: none; }

/* line 28, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.search {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 12px;
  display: block;
  border: 1px solid #cccccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-color: #f8f8f8;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 24px;
  color: #444444; }
  /* line 44, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
  .search:focus {
    outline: none;
    border-color: #999999;
    background: #fcfcfc; }

@media (min-width: 700px) {
  /* line 50, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
  .search {
    width: 608px; } }
@media (max-width: 700px) {
  /* line 54, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
  .search {
    width: 90%; } }
/* line 57, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.nothin {
  display: none;
  font-size: 24px;
  text-align: center; }

/* line 62, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.index-date {
  font-weight: bold; }

/* line 65, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.index-title {
  font-size: 32px;
  font-weight: bold;
  line-height: 36px; }
  /* line 69, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
  .index-title:hover {
    text-decoration: underline;
    color: #f05051; }

/* line 73, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.index-comments {
  opacity: 0.5; }
  /* line 75, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
  .index-comments:hover {
    text-decoration: underline; }

/* line 78, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.index-author:hover, .post-author:hover {
  text-decoration: underline; }

/* line 81, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.post-metas-wrap {
  margin-bottom: 2em;
  padding: 20px 0;
  background-image: url(http://dockyard.com/assets/bg.svg);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #777777; }

/* line 90, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.post-meta {
  display: inline;
  font-size: 0.9em; }

/* line 94, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.post-author {
  color: #777777; }

/* line 97, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.post-tags {
  margin-bottom: 1em;
  display: block; }

/* line 101, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.tag-link {
  text-transform: capitalize;
  opacity: 0.5; }
  /* line 104, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
  .tag-link:hover {
    text-decoration: underline; }

/* line 107, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.post-title {
  font-family: cubano, sans-serif;
  font-size: 2.5em;
  line-height: 1.15em;
  margin-bottom: 0.75em; }

/* line 113, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.post-div {
  width: 720px;
  margin: 0 auto; }

/* line 117, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.post-share {
  margin-top: 2em;
  margin-bottom: 1em;
  padding-top: 2em;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #abd4e7; }
  /* line 124, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
  .post-share h1 {
    margin-bottom: 0.5em;
    font-weight: bold; }

/* line 128, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.twitter-share-button {
  float: left; }

/* line 131, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.issue {
  font-weight: bold;
  margin: 0.5em 0 1em; }
  /* line 134, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
  .issue a {
    text-decoration: underline; }
    /* line 136, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
    .issue a:hover {
      color: #f05051; }

/* line 140, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.design #content .wrap, .design .post-div, .design .post-metas-wrap {
  width: auto; }
/* line 142, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.design .post-content, .design .issue, .design .post-share, .design #post-comments {
  width: 90%;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto; }
/* line 147, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.design .issue {
  margin-top: 2em;
  margin-bottom: -1em; }
/* line 150, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.design .post-share {
  border: none; }
/* line 152, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.design .post-title-wrap {
  width: 90%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto; }

/* line 159, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.expanding-the-yard .post-title {
  color: #f05051; }
/* line 161, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.expanding-the-yard .content h2 {
  margin: 0.5em 0;
  font-size: 40px;
  font-family: cubano, sans-serif;
  font-weight: normal;
  line-height: 1; }
/* line 167, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.expanding-the-yard .post-content {
  width: 100%; }
/* line 169, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.expanding-the-yard .post-div {
  max-width: 100%;
  font-size: 1.2em; }
/* line 172, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.expanding-the-yard .one {
  color: #aaddee;
  background-color: #1a4557; }
/* line 175, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.expanding-the-yard .two {
  color: #bbeeff;
  background-color: #3a6577; }
/* line 178, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.expanding-the-yard .three {
  color: #114455;
  background-color: #9ac5d7; }
/* line 181, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.expanding-the-yard .four {
  color: #225566;
  background-color: #bae5f7; }
/* line 184, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.expanding-the-yard img {
  margin: 0 auto 40px auto; }

/* line 187, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
strong {
  font-weight: bold; }

/* line 191, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.post-content h2 {
  margin-top: 1em;
  font-size: 1.5em;
  font-weight: bold; }
/* line 195, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.post-content h3 {
  margin-top: 0.5em;
  font-size: 1.25em;
  font-weight: bold;
  color: #65a4ba; }
/* line 200, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.post-content p {
  margin-bottom: 1em;
  line-height: 1.65; }
/* line 203, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.post-content a {
  font-weight: bold;
  text-decoration: underline; }
  /* line 206, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
  .post-content a:hover {
    color: #f05051; }
/* line 208, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.post-content ul {
  margin-bottom: 1em; }
  /* line 209, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
  .post-content ul li {
    margin-left: 2em;
    list-style-type: square; }
/* line 213, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.post-content ol {
  margin-bottom: 1em; }
  /* line 215, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
  .post-content ol li {
    margin-left: 2em; }
/* line 217, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.post-content img {
  display: block;
  margin: 0 auto 2em; }

/* line 222, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
h1.author-name, h1.tag-name, h1.categories, h1.authors {
  font-family: cubano, sans-serif;
  text-align: center;
  font-size: 2.5em;
  line-height: 1.15em;
  margin-bottom: 0.75em;
  margin-top: 0.75em; }

/* line 230, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
ul.categories, ul.authors {
  list-style-type: disc;
  width: 500px;
  margin: 0 auto; }
  /* line 234, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
  ul.categories a, ul.authors a {
    font-weight: bold; }
    /* line 236, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
    ul.categories a span.count, ul.authors a span.count {
      font-weight: normal;
      margin-left: 10px; }
    /* line 239, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
    ul.categories a:hover, ul.authors a:hover {
      text-decoration: underline; }
      /* line 241, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
      ul.categories a:hover span.count, ul.authors a:hover span.count {
        text-decoration: none; }

/* line 244, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.current {
  background-color: #f17275 !important; }

/* line 248, /Users/dyun/Stuff/reefpoints/source/stylesheets/reefpoints.sass */
.authors ul, .categories ul {
  list-style-type: none; }
