/* line 1, /Users/dug/work/reefpoints/source/stylesheets/shared.sass */
.header-logo, .main-nav-item, .mobile-nav-icon, .menu-button {
  color: white; }

/* line 4, /Users/dug/work/reefpoints/source/stylesheets/shared.sass */
.main-nav-item {
  font-weight: bold;
  font-size: 0.8em; }

/* line 8, /Users/dug/work/reefpoints/source/stylesheets/shared.sass */
.header-logo {
  float: left;
  height: 35px;
  font-family: leaguegothic, sans-serif;
  font-size: 32px; }

/* line 14, /Users/dug/work/reefpoints/source/stylesheets/shared.sass */
.nav-blog {
  background-color: #f26364; }

@media (min-width: 650px) {
  /* line 18, /Users/dug/work/reefpoints/source/stylesheets/shared.sass */
  #mobile-header {
    display: none; }

  /* line 20, /Users/dug/work/reefpoints/source/stylesheets/shared.sass */
  #site-header {
    height: 45px;
    background-color: #f05051; }

  /* line 23, /Users/dug/work/reefpoints/source/stylesheets/shared.sass */
  .main-nav {
    float: right; }

  /* line 25, /Users/dug/work/reefpoints/source/stylesheets/shared.sass */
  .nav-work, .nav-people, .nav-community, .nav-blog, .nav-contact {
    float: left; }

  /* line 27, /Users/dug/work/reefpoints/source/stylesheets/shared.sass */
  .main-nav-item {
    padding: 20px 15px 6px;
    display: block; }
    /* line 30, /Users/dug/work/reefpoints/source/stylesheets/shared.sass */
    .main-nav-item:hover {
      background-color: #f17275; } }
@media (max-width: 650px) {
  /* line 34, /Users/dug/work/reefpoints/source/stylesheets/shared.sass */
  #site-header {
    display: none; }

  /* line 36, /Users/dug/work/reefpoints/source/stylesheets/shared.sass */
  #mobile-header {
    overflow: auto;
    background-color: #f05051; }

  /* line 39, /Users/dug/work/reefpoints/source/stylesheets/shared.sass */
  .menu-button {
    float: right;
    font-size: 1.5em;
    cursor: pointer;
    padding: 5px; }

  /* line 44, /Users/dug/work/reefpoints/source/stylesheets/shared.sass */
  #mobile-nav {
    clear: both;
    display: none; }

  /* line 47, /Users/dug/work/reefpoints/source/stylesheets/shared.sass */
  .mobile-nav-link-wrap {
    float: left;
    width: 32%;
    margin-bottom: 1%;
    margin-left: 1%; }

  /* line 52, /Users/dug/work/reefpoints/source/stylesheets/shared.sass */
  .mobile-nav-link {
    display: block;
    background-color: #f26364;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center; }
    /* line 58, /Users/dug/work/reefpoints/source/stylesheets/shared.sass */
    .mobile-nav-link:active {
      background-color: #f17275; }

  /* line 60, /Users/dug/work/reefpoints/source/stylesheets/shared.sass */
  .mobile-nav-icon {
    font-size: 2em; }

  /* line 62, /Users/dug/work/reefpoints/source/stylesheets/shared.sass */
  .main-nav-item {
    margin-top: -8px; } }
/* line 65, /Users/dug/work/reefpoints/source/stylesheets/shared.sass */
footer {
  padding-top: 3em;
  padding-bottom: 3em; }

/* line 69, /Users/dug/work/reefpoints/source/stylesheets/shared.sass */
.footer-links {
  height: 50px;
  width: 200px;
  margin-left: auto;
  margin-right: auto; }

/* line 75, /Users/dug/work/reefpoints/source/stylesheets/shared.sass */
.link-in-footer {
  margin-left: 5px;
  background-color: #2a5567; }
  /* line 78, /Users/dug/work/reefpoints/source/stylesheets/shared.sass */
  .link-in-footer:hover {
    background-color: #f05051; }

/* line 81, /Users/dug/work/reefpoints/source/stylesheets/shared.sass */
.footer-form, .footer-number, .footer-copyright {
  text-align: center; }

/* line 84, /Users/dug/work/reefpoints/source/stylesheets/shared.sass */
.footer-form {
  margin-top: 0.5em;
  margin-bottom: 1em;
  display: block; }

/* line 89, /Users/dug/work/reefpoints/source/stylesheets/shared.sass */
.footer-form-label {
  display: block;
  font-family: georgia, serif;
  font-size: 1.25em;
  font-weight: bold;
  font-style: italic; }

/* line 96, /Users/dug/work/reefpoints/source/stylesheets/shared.sass */
.footer-form-input {
  padding: 10px;
  width: 200px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #c2c2c2;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1em;
  color: #2a5567; }
  /* line 106, /Users/dug/work/reefpoints/source/stylesheets/shared.sass */
  .footer-form-input:focus {
    border: 1px solid #2a5567;
    outline: none; }

/* line 110, /Users/dug/work/reefpoints/source/stylesheets/shared.sass */
.footer-form-submit {
  padding: 6px 14px 6px 16px;
  position: relative;
  top: 3px;
  left: -6px;
  border: 1px solid #2a5567;
  background-color: #2a5567;
  color: white;
  font-size: 26px;
  font-weight: bold;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -otransition-duration: 0.5s;
  transition-duration: 0.5s; }
  /* line 124, /Users/dug/work/reefpoints/source/stylesheets/shared.sass */
  .footer-form-submit:hover {
    background-color: #38738b; }

/* line 127, /Users/dug/work/reefpoints/source/stylesheets/shared.sass */
.footer-number {
  display: block; }

/* line 130, /Users/dug/work/reefpoints/source/stylesheets/shared.sass */
.footer-copyright {
  margin-left: 5%;
  margin-right: 5%; }

/* line 134, /Users/dug/work/reefpoints/source/stylesheets/shared.sass */
.fontello {
  font-family: fontello; }
  /* line 136, /Users/dug/work/reefpoints/source/stylesheets/shared.sass */
  .fontello:before {
    content: attr(data-icon); }

/* line 139, /Users/dug/work/reefpoints/source/stylesheets/shared.sass */
.link {
  float: left;
  margin-right: 5px;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  font-size: 1.35em;
  text-align: center;
  color: white;
  line-height: 1.85;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -otransition-duration: 0.5s;
  transition-duration: 0.5s; }

/* line 158, /Users/dug/work/reefpoints/source/stylesheets/shared.sass */
.link-in-post {
  display: inline-block;
  float: none;
  margin-left: 0.2em;
  margin-right: 0.2em;
  background-color: #777777;
  text-transform: none;
  line-height: 2; }
  /* line 166, /Users/dug/work/reefpoints/source/stylesheets/shared.sass */
  .link-in-post:hover {
    background-color: #f05051; }

/* line 169, /Users/dug/work/reefpoints/source/stylesheets/shared.sass */
.footer-mail-icon {
  font-size: 1.5em;
  line-height: 1.675; }
