/* line 65, /Users/bcardarella/Dropbox/projects/reefpoints/source/stylesheets/load.sass */
.header--thin, .h1 {
  font-family: "LatoLight", sans-serif; }

@media (max-width: 600px) {
  /* line 68, /Users/bcardarella/Dropbox/projects/reefpoints/source/stylesheets/load.sass */
  .h1 {
    font-size: 2.5em; } }
@media (min-width: 600px) {
  /* line 68, /Users/bcardarella/Dropbox/projects/reefpoints/source/stylesheets/load.sass */
  .h1 {
    font-size: 72px; } }

/* line 75, /Users/bcardarella/Dropbox/projects/reefpoints/source/stylesheets/load.sass */
.h2 {
  line-height: 1.25; }
  @media (max-width: 860px) {
    /* line 75, /Users/bcardarella/Dropbox/projects/reefpoints/source/stylesheets/load.sass */
    .h2 {
      font-size: 1.5em; } }
  @media (min-width: 860px) {
    /* line 75, /Users/bcardarella/Dropbox/projects/reefpoints/source/stylesheets/load.sass */
    .h2 {
      font-size: 2.625em; } }

/* line 5, /Users/bcardarella/Dropbox/projects/reefpoints/source/stylesheets/state.sass */
.header-has-background {
  background-color: white; }

/* line 8, /Users/bcardarella/Dropbox/projects/reefpoints/source/stylesheets/state.sass */
.takes-full-height {
  margin-top: 0 !important; }
  @media (min-width: 650px) and (min-height: 650px) {
    /* line 8, /Users/bcardarella/Dropbox/projects/reefpoints/source/stylesheets/state.sass */
    .takes-full-height {
      height: 100%; } }

@media (min-width: 650px) and (min-height: 650px) {
  /* line 13, /Users/bcardarella/Dropbox/projects/reefpoints/source/stylesheets/state.sass */
  .has-no-scroll {
    overflow: hidden; } }

@media (min-width: 650px) and (min-height: 650px) {
  /* line 17, /Users/bcardarella/Dropbox/projects/reefpoints/source/stylesheets/state.sass */
  .header-is-extended {
    height: 100%; } }
