/* line 59, /Users/acheung/work/reefpoints/source/stylesheets/load.sass */
p, [data-icon] {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased; }

/* line 65, /Users/acheung/work/reefpoints/source/stylesheets/load.sass */
h4, h5 {
  letter-spacing: 3px;
  text-transform: uppercase; }

/* line 5, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
strong, h4, h5, em {
  line-height: 1.5; }

/* line 8, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
p, label {
  line-height: 1.8; }

/* line 11, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
p, label, h4, em {
  font-size: 18px; }

/* line 14, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
strong, h4 {
  display: block;
  font-family: "NiveauGroteskBold", sans-serif; }

/* line 18, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
p {
  margin-bottom: 1em; }

/* line 21, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
h1, h2 {
  font-family: "LatoLight", sans-serif; }

/* line 24, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
h1 {
  margin-bottom: 0.5em; }
  @media (max-width: 649px) {
    /* line 24, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
    h1 {
      font-size: 40px; } }
  @media (min-width: 650px) {
    /* line 24, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
    h1 {
      font-size: 72px; } }

/* line 31, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
h2 {
  line-height: 1.25; }
  @media (max-width: 860px) {
    /* line 31, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
    h2 {
      font-size: 24px; } }
  @media (min-width: 860px) {
    /* line 31, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
    h2 {
      font-size: 42px; } }

/* line 38, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
h3 {
  font-family: "LatoRegular", sans-serif; }

/* line 48, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
h6 {
  font-size: 16px; }

/* line 51, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
em {
  display: block;
  font-family: "NiveauGroteskLight-Italic", sans-serif; }

/* line 58, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
.text-link {
  color: #2c9dc5;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color; }
  /* line 56, /Users/acheung/work/reefpoints/source/stylesheets/load.sass */
  .text-link:hover {
    color: #4db3d7; }

/* line 62, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
.headline--big, .headline--big--preview {
  font-size: 24px; }

/* line 65, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
.headline--big--preview {
  line-height: 1.25; }

/* line 69, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
.headline--icon {
  text-align: center;
  line-height: 1; }
  /* line 30, /Users/acheung/work/reefpoints/source/stylesheets/load.sass */
  .headline--icon:after, .headline--icon:before {
    display: inline-block;
    position: relative;
    height: 6px;
    width: 6px;
    content: "";
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background-color: #fb755a; }
  /* line 38, /Users/acheung/work/reefpoints/source/stylesheets/load.sass */
  .headline--icon:after {
    top: -4px;
    right: -30px; }
  /* line 41, /Users/acheung/work/reefpoints/source/stylesheets/load.sass */
  .headline--icon:before {
    top: -4px;
    left: -30px; }

/* line 74, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
.headline--text, .headline--text--center {
  margin-top: 40px;
  margin-bottom: 10px; }

/* line 79, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
.headline--text--center {
  text-align: center; }

/* line 83, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
.headline--sub {
  color: #cdcdcd; }

/* line 86, /Users/acheung/work/reefpoints/source/stylesheets/type.sass */
.icon__desc {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-family: "LatoLight", sans-serif;
  text-align: center; }
