/* line 5, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/main-nav.sass */
header {
  width: 100%;
  z-index: 5; }
  @media (min-width: 650px) and (min-height: 650px) {
    /* line 5, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/main-nav.sass */
    header {
      position: fixed; } }

/* line 11, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/main-nav.sass */
.main-nav-wrap {
  border-width: 1px;
  border-color: #e5e5e5;
  border-bottom-style: solid;
  border-top: 4px solid #fb755a;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color; }

/* line 18, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/main-nav.sass */
.main-nav {
  position: relative;
  text-align: center; }

/* line 22, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/main-nav.sass */
.logo {
  padding: 17px;
  display: inline-block;
  font-size: 1.875em;
  font-family: "Tungsten A", "Tungsten B"; }

/* line 30, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/main-nav.sass */
.club-sandwich:before, .extended-nav--logo:before, .extended-nav--close:before {
  font-family: "icomoon";
  content: attr(data-icon); }

/* line 34, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/main-nav.sass */
.club-sandwich, .extended-nav--close {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  position: absolute;
  right: 0;
  font-size: 41px; }
  /* line 42, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/main-nav.sass */
  .club-sandwich:before, .extended-nav--close:before {
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: color;
    -moz-transition-property: color;
    -o-transition-property: color;
    transition-property: color; }
  /* line 46, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/main-nav.sass */
  .club-sandwich:hover:before, .extended-nav--close:hover:before {
    color: #8d8d8d; }

/* line 51, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/main-nav.sass */
.main-nav-wrap {
  border-bottom: none; }

/* line 54, /Users/acheung/work/reefpoints/source/stylesheets/modules/header/main-nav.sass */
.main-nav {
  border-width: 1px;
  border-color: #e5e5e5;
  border-bottom-style: solid; }
