/* line 65, /Users/dug/DockYard/reefpoints/source/stylesheets/load.sass */
.header--thin, .h1 {
  font-family: "LatoLight", sans-serif; }

@media (max-width: 600px) {
  /* line 68, /Users/dug/DockYard/reefpoints/source/stylesheets/load.sass */
  .h1 {
    font-size: 2.5em; } }
@media (min-width: 600px) {
  /* line 68, /Users/dug/DockYard/reefpoints/source/stylesheets/load.sass */
  .h1 {
    font-size: 72px; } }

/* line 75, /Users/dug/DockYard/reefpoints/source/stylesheets/load.sass */
.h2 {
  line-height: 1.25; }
  @media (max-width: 860px) {
    /* line 75, /Users/dug/DockYard/reefpoints/source/stylesheets/load.sass */
    .h2 {
      font-size: 1.5em; } }
  @media (min-width: 860px) {
    /* line 75, /Users/dug/DockYard/reefpoints/source/stylesheets/load.sass */
    .h2 {
      font-size: 2.625em; } }

/* line 3, /Users/dug/DockYard/reefpoints/source/stylesheets/modules/header/reefpoints-nav.sass */
.logo--reefpoints, .blog-nav__item, .blog-topnav__item, .blog-subnav__item {
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color; }
  /* line 62, /Users/dug/DockYard/reefpoints/source/stylesheets/load.sass */
  .logo--reefpoints:hover, .blog-nav__item:hover, .blog-topnav__item:hover, .blog-subnav__item:hover {
    color: #2c9dc5; }

/* line 6, /Users/dug/DockYard/reefpoints/source/stylesheets/modules/header/reefpoints-nav.sass */
.logo--reefpoints {
  margin-bottom: 8px;
  display: inline-block;
  font-size: 30px;
  font-family: "NiveauGroteskBold", sans-serif; }

/* line 13, /Users/dug/DockYard/reefpoints/source/stylesheets/modules/header/reefpoints-nav.sass */
.blog-topnav {
  overflow: auto;
  font-size: 15px; }
  @media (max-width: 600px) {
    /* line 13, /Users/dug/DockYard/reefpoints/source/stylesheets/modules/header/reefpoints-nav.sass */
    .blog-topnav {
      margin-bottom: 36px; } }
  @media (min-width: 600px) {
    /* line 13, /Users/dug/DockYard/reefpoints/source/stylesheets/modules/header/reefpoints-nav.sass */
    .blog-topnav {
      margin-bottom: 54px; } }

/* line 21, /Users/dug/DockYard/reefpoints/source/stylesheets/modules/header/reefpoints-nav.sass */
.blog-nav__item, .blog-topnav__item, .blog-subnav__item {
  padding-bottom: 8px;
  float: left;
  text-transform: uppercase; }

/* line 26, /Users/dug/DockYard/reefpoints/source/stylesheets/modules/header/reefpoints-nav.sass */
.blog-topnav__item {
  padding-top: 8px; }
  /* line 29, /Users/dug/DockYard/reefpoints/source/stylesheets/modules/header/reefpoints-nav.sass */
  .blog-topnav__item:not(:first-child) {
    margin-left: 26px; }

/* line 32, /Users/dug/DockYard/reefpoints/source/stylesheets/modules/header/reefpoints-nav.sass */
.blog-subnav__item {
  width: 100%; }
  /* line 35, /Users/dug/DockYard/reefpoints/source/stylesheets/modules/header/reefpoints-nav.sass */
  .blog-subnav__item:not(:first-child) {
    padding-top: 8px; }

/* line 38, /Users/dug/DockYard/reefpoints/source/stylesheets/modules/header/reefpoints-nav.sass */
.blog-subnav {
  margin-bottom: 36px;
  width: 200px;
  font-size: 15px;
  overflow: auto; }
  @media (min-width: 600px) {
    /* line 38, /Users/dug/DockYard/reefpoints/source/stylesheets/modules/header/reefpoints-nav.sass */
    .blog-subnav {
      float: left; } }

@media (max-width: 680px) {
  /* line 46, /Users/dug/DockYard/reefpoints/source/stylesheets/modules/header/reefpoints-nav.sass */
  .blog-subnav.may-hide, .blog-subnav--nested {
    display: none; } }

/* line 50, /Users/dug/DockYard/reefpoints/source/stylesheets/modules/header/reefpoints-nav.sass */
.blog-subnav__item.active, .blog-topnav__item.active {
  color: #fb755a; }

/* line 53, /Users/dug/DockYard/reefpoints/source/stylesheets/modules/header/reefpoints-nav.sass */
.blog-subnav__count {
  padding-left: 20px;
  display: inline-block;
  width: 30px;
  float: right;
  color: #cccccc; }
