Chris has over 10 years of experience of developing cellular, modular and
= precede ' ' do
  %a.text-link{:href => 'http://www.youtube.com/watch?v=j5C6X9vOEkU', :target => '_blank'} interactive-odular
systems that actually work and can be maintained. His barroom joke telling provides the levity that is so critical to any creative organization
