Estelle started her professional career as a Java developer, but decided after 7 years that there was much more happiness to be found building slick, intuitive single page applications using frameworks such as Ember.
