Logan graduated Montserrat College of Art with a concentration in design and
= succeed '.' do
  = link_to 'illustration', 'http://www.loganfaerber.com/', target: '_blank', class: 'text-link'
He works on client projects and in house content alike: web design, mobile design, branding, icons, typography, and print design
