Logan graduated Montserrat College of Art with a concentration in design and
= succeed ',' do
  = link_to 'illustration', 'http://www.loganfaerber.com/', target: '_blank', class: 'text-link'
and is now the lead visual designer at DockYard
