Marin will be graduating Trinity College with an interdisciplinary Computing and Economics degree and Studio Arts minor. Interning at DockYard has exposed her to new programming languages and software practices
