Michael discovered Ruby after picking up
= succeed ' ' do
  = link_to "Chris Pine&rsquo;s Learn to Program", 'http://pine.fm/LearnToProgram/', target: '_blank', class: 'text-link'
in 2011. Once he had his first Rails app up and running, there was no turning back
