Robert has plied his trade as a professional developer for more than fifteen years. Starting with VB, C#, and Java code, Robert made the transition to Ruby and eventually to Rails in 2006.  Since then, he has become a part of the Ember Core Team and a Senior Developer at DockYard.
