%nav.post__avatar__social-links
  - if current_page.twitter
    = link_to current_page.twitter, "http://twitter.com/#{current_page.twitter}", target: '_blank', class: 'post__avatar__social-link--twitter', 'data-icon' => '#'
  - if current_page.github
    = link_to current_page.github, "https://github.com/#{current_page.github}", target: '_blank', class: 'post__avatar__social-link--github', 'data-icon' => '★'
