/* line 3, /Users/bcardarella/Dropbox/projects/reefpoints/source/stylesheets/modules/avatar.sass */
.authors__avatar, .author__avatar, .post__avatar {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

/* line 6, /Users/bcardarella/Dropbox/projects/reefpoints/source/stylesheets/modules/avatar.sass */
.author__avatar, .post__avatar {
  border: 1px solid #e5e5e5; }

@media (max-width: 699px) {
  /* line 9, /Users/bcardarella/Dropbox/projects/reefpoints/source/stylesheets/modules/avatar.sass */
  .authors__avatar, .author__avatar-wrap {
    display: none; } }

@media (min-width: 700px) {
  /* line 13, /Users/bcardarella/Dropbox/projects/reefpoints/source/stylesheets/modules/avatar.sass */
  .authors__avatar {
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    position: absolute;
    left: -53px;
    height: 38px;
    width: 38px;
    opacity: 0.05; } }

@media (min-width: 700px) {
  /* line 24, /Users/bcardarella/Dropbox/projects/reefpoints/source/stylesheets/modules/avatar.sass */
  .author__avatar-wrap {
    margin-bottom: 84px;
    overflow: auto; } }

@media (min-width: 640px) {
  /* line 29, /Users/bcardarella/Dropbox/projects/reefpoints/source/stylesheets/modules/avatar.sass */
  .author__avatar {
    margin-right: 20px;
    padding: 6px;
    height: 100px;
    width: 100px;
    float: left; } }

@media (min-width: 640px) {
  /* line 37, /Users/bcardarella/Dropbox/projects/reefpoints/source/stylesheets/modules/avatar.sass */
  .author__bio, .author__link {
    font-size: 14px; } }

@media (min-width: 640px) {
  /* line 41, /Users/bcardarella/Dropbox/projects/reefpoints/source/stylesheets/modules/avatar.sass */
  .author__bio {
    margin-top: 5px; } }

@media (min-width: 640px) {
  /* line 45, /Users/bcardarella/Dropbox/projects/reefpoints/source/stylesheets/modules/avatar.sass */
  .author__link {
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    -webkit-transition-property: color;
    -moz-transition-property: color;
    -o-transition-property: color;
    transition-property: color;
    color: #43c0ef; }
    /* line 55, /Users/bcardarella/Dropbox/projects/reefpoints/source/stylesheets/load.sass */
    .author__link:hover {
      color: #72d0f3; } }

/* line 50, /Users/bcardarella/Dropbox/projects/reefpoints/source/stylesheets/modules/avatar.sass */
.post__avatar-wrap {
  width: 230px;
  text-align: center; }
  @media (max-width: 699px) {
    /* line 50, /Users/bcardarella/Dropbox/projects/reefpoints/source/stylesheets/modules/avatar.sass */
    .post__avatar-wrap {
      margin-right: auto;
      margin-left: auto; } }
  @media (min-width: 700px) {
    /* line 50, /Users/bcardarella/Dropbox/projects/reefpoints/source/stylesheets/modules/avatar.sass */
    .post__avatar-wrap {
      float: left; } }

/* line 60, /Users/bcardarella/Dropbox/projects/reefpoints/source/stylesheets/modules/avatar.sass */
.post__avatar {
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding: 10px;
  display: block;
  height: 150px;
  width: 150px; }

/* line 70, /Users/bcardarella/Dropbox/projects/reefpoints/source/stylesheets/modules/avatar.sass */
.post__avatar__name {
  margin-bottom: 12px; }

/* line 73, /Users/bcardarella/Dropbox/projects/reefpoints/source/stylesheets/modules/avatar.sass */
.post__avatar__position {
  margin-bottom: 20px;
  line-height: 1.33; }

/* line 77, /Users/bcardarella/Dropbox/projects/reefpoints/source/stylesheets/modules/avatar.sass */
.post__avatar__social-link--twitter, .post__avatar__social-link--github {
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  display: block;
  color: #cdcdcd; }
  /* line 82, /Users/bcardarella/Dropbox/projects/reefpoints/source/stylesheets/modules/avatar.sass */
  .post__avatar__social-link--twitter:hover, .post__avatar__social-link--github:hover {
    color: #43c0ef; }
  /* line 84, /Users/bcardarella/Dropbox/projects/reefpoints/source/stylesheets/modules/avatar.sass */
  .post__avatar__social-link--twitter:before, .post__avatar__social-link--github:before {
    margin-right: 3px;
    margin-left: -28px;
    position: relative;
    top: 5px;
    font-size: 24px; }

/* line 92, /Users/bcardarella/Dropbox/projects/reefpoints/source/stylesheets/modules/avatar.sass */
.post__avatar-wrap-is-centered {
  margin-right: auto;
  margin-left: auto;
  text-align: center; }
