/* line 5, /Users/bcardarella/Dropbox/projects/reefpoints/source/stylesheets/modules/border.sass */
.has-border {
  border-width: 1px;
  border-color: #e5e5e5;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid; }

/* line 8, /Users/bcardarella/Dropbox/projects/reefpoints/source/stylesheets/modules/border.sass */
.border--half {
  height: 36px;
  width: 50%;
  border-width: 1px;
  border-color: #e5e5e5;
  border-right-style: solid; }

/* line 13, /Users/bcardarella/Dropbox/projects/reefpoints/source/stylesheets/modules/border.sass */
.case-study__testimonial, .case-study__image__desc__text, .dockyarder__header, .person__header--case-study, .headline--icon {
  padding-top: 1em;
  padding-bottom: 1em;
  border-width: 1px;
  border-color: #e5e5e5;
  border-top-style: solid;
  border-bottom-style: solid; }
