/* line 58, /home/travis/build/dockyard/reefpoints/source/stylesheets/load.sass */
.button, .button--center {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased; }

/* line 5, /home/travis/build/dockyard/reefpoints/source/stylesheets/modules/button.sass */
.button, .button--center {
  padding-top: 20px;
  padding-bottom: 18px;
  width: 180px;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background-color: #fb755a;
  font-size: 18px;
  font-family: NiveauGroteskBold;
  text-align: center;
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color; }
  /* line 24, /home/travis/build/dockyard/reefpoints/source/stylesheets/modules/button.sass */
  .button:hover, .button--center:hover {
    background-color: #fc8a73; }

/* line 27, /home/travis/build/dockyard/reefpoints/source/stylesheets/modules/button.sass */
.button--center {
  margin: 1em auto 6em;
  display: block; }

/* line 31, /home/travis/build/dockyard/reefpoints/source/stylesheets/modules/button.sass */
.button {
  margin-top: 1em;
  margin-bottom: 1em;
  display: inline-block; }
