/* line 5, /Users/acheung/work/reefpoints/source/stylesheets/modules/circle.sass */
.circle-border--person {
  margin-right: auto;
  margin-left: auto;
  height: 160px;
  width: 160px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

/* line 8, /Users/acheung/work/reefpoints/source/stylesheets/modules/circle.sass */
.circle-border--icon, .circle-border--icon--link {
  margin-right: auto;
  margin-left: auto;
  height: 64px;
  width: 64px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

/* line 11, /Users/acheung/work/reefpoints/source/stylesheets/modules/circle.sass */
.circle-border--icon--link {
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: border-color;
  -moz-transition-property: border-color;
  -o-transition-property: border-color;
  transition-property: border-color; }
  /* line 15, /Users/acheung/work/reefpoints/source/stylesheets/modules/circle.sass */
  .circle-border--icon--link:hover {
    border-color: #72d0f3; }
