@media (max-width: 499px) {
  /* line 3, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/filter.sass */
  .filter__header {
    display: none; } }
@media (min-width: 500px) {
  /* line 3, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/filter.sass */
  .filter__header {
    margin-bottom: 40px;
    display: block;
    font-size: 13px;
    text-transform: uppercase;
    color: #e0e0e0; } }

@media (min-width: 500px) {
  /* line 13, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/filter.sass */
  .filter__header__count {
    float: right; } }

/* line 17, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/filter.sass */
.filter__item {
  display: block;
  position: relative; }
  /* line 22, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/filter.sass */
  .filter__item:hover:after {
    position: absolute;
    right: 0;
    bottom: 35px;
    left: 0;
    border-bottom: 1px solid #f3f3f3;
    content: ""; }
  /* line 30, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/filter.sass */
  .filter__item:hover .filter__item__name, .filter__item:hover .filter__item__category, .filter__item:hover .filter__item__category:before, .filter__item:hover .filter__item__count {
    color: #43c0ef; }
  /* line 33, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/filter.sass */
  .filter__item:hover .authors__avatar {
    opacity: 1; }

/* line 36, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/filter.sass */
.filter__item__name, .filter__item__category, .filter__item__count {
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  background-color: white;
  font-size: 34px;
  z-index: 3; }
  @media (max-width: 499px) {
    /* line 36, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/filter.sass */
    .filter__item__name, .filter__item__category, .filter__item__count {
      margin-bottom: 20px; } }
  @media (min-width: 500px) {
    /* line 36, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/filter.sass */
    .filter__item__name, .filter__item__category, .filter__item__count {
      margin-bottom: 16px; } }

/* line 47, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/filter.sass */
.filter__item__name, .filter__item__category {
  padding-right: 8px;
  display: inline-block;
  position: relative; }
  @media (max-width: 359px) {
    /* line 47, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/filter.sass */
    .filter__item__name, .filter__item__category {
      max-width: 85%; } }

@media (min-width: 600px) {
  /* line 54, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/filter.sass */
  .filter__item__category {
    margin-left: -17px; }
    /* line 59, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/filter.sass */
    .filter__item__category:before {
      -webkit-transition-duration: 0.25s;
      -moz-transition-duration: 0.25s;
      -o-transition-duration: 0.25s;
      transition-duration: 0.25s;
      -webkit-transition-property: color;
      -moz-transition-property: color;
      -o-transition-property: color;
      transition-property: color;
      padding-right: 8px;
      font-size: 32px;
      font-family: "NiveauGroteskBold";
      color: white;
      content: "I"; } }

/* line 69, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/filter.sass */
.filter__item__count {
  padding-left: 8px;
  position: absolute;
  right: 0;
  bottom: 0;
  color: #e5e5e5; }
