/* line 68, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/load.sass */
.footer__event--wgc, .footer__event--openhack, .footer__event--ember, .footer__event--ux, .footer__event--swift, .footer__event--uxhh {
  display: block;
  font-family: "NiveauGroteskBold", sans-serif;
  line-height: 1.5; }

@media (max-width: 880px) {
  /* line 7, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/footer.sass */
  .l-footer-group:not(:last-child) {
    margin-bottom: 5em; } }
@media (min-width: 880px) {
  /* line 5, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/footer.sass */
  .l-footer-group {
    width: 30%;
    float: left; }
    /* line 12, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/footer.sass */
    .l-footer-group:not(:last-child) {
      margin-right: 5%; } }

/* line 15, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/footer.sass */
footer {
  padding-top: 90px;
  padding-bottom: 90px;
  border-width: 1px;
  border-color: #e5e5e5;
  border-top-style: solid;
  line-height: 1.5; }
  @media (min-width: 880px) {
    /* line 15, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/footer.sass */
    footer {
      overflow: auto; } }

/* line 24, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/footer.sass */
.footer-group__title {
  margin-bottom: 1.5em;
  font-size: 18px; }

/* line 28, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/footer.sass */
.footer-desc {
  color: #8d8d8d; }

/* line 31, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/footer.sass */
.footer__event--wgc, .footer__event--openhack, .footer__event--ember, .footer__event--ux, .footer__event--swift, .footer__event--uxhh {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  background-image: url("/images/events.jpg");
  background-size: 50px;
  background-repeat: no-repeat;
  text-indent: 4em;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color; }
  /* line 55, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/load.sass */
  .footer__event--wgc:hover, .footer__event--openhack:hover, .footer__event--ember:hover, .footer__event--ux:hover, .footer__event--swift:hover, .footer__event--uxhh:hover {
    color: #43c0ef; }
  /* line 42, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/footer.sass */
  .footer__event--wgc:nth-child(n+3), .footer__event--openhack:nth-child(n+3), .footer__event--ember:nth-child(n+3), .footer__event--ux:nth-child(n+3), .footer__event--swift:nth-child(n+3), .footer__event--uxhh:nth-child(n+3) {
    border-width: 1px;
    border-color: #e5e5e5;
    border-top-style: solid; }

/* line 45, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/footer.sass */
.footer__event--wgc {
  margin-top: -20px;
  background-position: left 6px; }

/* line 49, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/footer.sass */
.footer__event--ember {
  background-position: left -64px; }

/* line 52, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/footer.sass */
.footer__event--openhack {
  background-position: left -136px; }

/* line 55, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/footer.sass */
.footer__event--ux {
  background-position: left -206px; }

/* line 58, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/footer.sass */
.footer__event--swift {
  background-position: left -277px; }

/* line 61, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/footer.sass */
.footer__event--uxhh {
  background-position: left -345px; }

/* line 64, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/footer.sass */
.footer__post {
  margin-bottom: 1.5em;
  display: block;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color; }
  /* line 55, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/load.sass */
  .footer__post:hover {
    color: #43c0ef; }

/* line 69, /Users/steventrevathan/Sites/reefpoints/source/stylesheets/modules/footer.sass */
.footer__address {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding-top: 1.5em;
  display: block;
  border-width: 1px;
  border-color: #e5e5e5;
  border-top-style: solid;
  color: #8d8d8d; }
