/* line 65, /Users/dug/dockyard/reefpoints/source/stylesheets/load.sass */
.header--thin, .h1 {
  font-family: "LatoLight", sans-serif; }

@media (max-width: 600px) {
  /* line 68, /Users/dug/dockyard/reefpoints/source/stylesheets/load.sass */
  .h1 {
    font-size: 2.5em; } }
@media (min-width: 600px) {
  /* line 68, /Users/dug/dockyard/reefpoints/source/stylesheets/load.sass */
  .h1 {
    font-size: 72px; } }

/* line 75, /Users/dug/dockyard/reefpoints/source/stylesheets/load.sass */
.h2 {
  line-height: 1.25; }
  @media (max-width: 860px) {
    /* line 75, /Users/dug/dockyard/reefpoints/source/stylesheets/load.sass */
    .h2 {
      font-size: 1.5em; } }
  @media (min-width: 860px) {
    /* line 75, /Users/dug/dockyard/reefpoints/source/stylesheets/load.sass */
    .h2 {
      font-size: 2.625em; } }

/* line 5, /Users/dug/dockyard/reefpoints/source/stylesheets/modules/footer.sass */
footer {
  margin-top: -40px;
  padding-top: 90px;
  padding-bottom: 90px;
  border-width: 1px;
  border-color: #e5e5e5;
  border-top-style: solid;
  background-color: white;
  line-height: 1.5;
  overflow: auto;
  clear: both; }

@media (max-width: 750px) {
  /* line 18, /Users/dug/dockyard/reefpoints/source/stylesheets/modules/footer.sass */
  .footer-group:not(:last-child) {
    margin-bottom: 5em; } }
@media (min-width: 750px) {
  /* line 16, /Users/dug/dockyard/reefpoints/source/stylesheets/modules/footer.sass */
  .footer-group {
    width: 30%;
    float: left; }
    /* line 23, /Users/dug/dockyard/reefpoints/source/stylesheets/modules/footer.sass */
    .footer-group:not(:last-child) {
      margin-right: 5%; } }

/* line 26, /Users/dug/dockyard/reefpoints/source/stylesheets/modules/footer.sass */
.footer-group__title {
  margin-bottom: 1.5em;
  font-size: 18px; }

/* line 30, /Users/dug/dockyard/reefpoints/source/stylesheets/modules/footer.sass */
.footer-desc {
  color: #8d8d8d; }

/* line 33, /Users/dug/dockyard/reefpoints/source/stylesheets/modules/footer.sass */
.footer__event {
  padding-bottom: 1.5em;
  display: block;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color; }
  /* line 62, /Users/dug/dockyard/reefpoints/source/stylesheets/load.sass */
  .footer__event:hover {
    color: #2c9dc5; }
  /* line 37, /Users/dug/dockyard/reefpoints/source/stylesheets/modules/footer.sass */
  .footer__event:not(:first-child) {
    padding-top: 1.5em;
    border-width: 1px;
    border-color: #e5e5e5;
    border-top-style: solid; }

/* line 41, /Users/dug/dockyard/reefpoints/source/stylesheets/modules/footer.sass */
.footer__event--wgr, .footer__event--openhack, .footer__event--ember, .footer__event--ux {
  margin-right: 1em;
  position: relative;
  top: -10px;
  float: left;
  height: 50px;
  width: 50px;
  background-image: url("/images/events.jpg");
  background-size: 100%; }

/* line 52, /Users/dug/dockyard/reefpoints/source/stylesheets/modules/footer.sass */
.footer__event--ux {
  background-position: 0 50px; }

/* line 55, /Users/dug/dockyard/reefpoints/source/stylesheets/modules/footer.sass */
.footer__event--ember {
  background-position: 0 100px; }

/* line 58, /Users/dug/dockyard/reefpoints/source/stylesheets/modules/footer.sass */
.footer__event--openhack {
  background-position: 0 150px; }

/* line 61, /Users/dug/dockyard/reefpoints/source/stylesheets/modules/footer.sass */
.blog-nav-item--footer {
  margin-bottom: 1.5em;
  display: block;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color; }
  /* line 62, /Users/dug/dockyard/reefpoints/source/stylesheets/load.sass */
  .blog-nav-item--footer:hover {
    color: #2c9dc5; }

/* line 66, /Users/dug/dockyard/reefpoints/source/stylesheets/modules/footer.sass */
.footer-address {
  margin-top: 1.5em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  display: block; }

/* line 73, /Users/dug/dockyard/reefpoints/source/stylesheets/modules/footer.sass */
.footer-social {
  margin-top: 1.5em;
  padding-top: 0.75em;
  text-indent: -3px;
  overflow: hidden; }
