/* line 65, /Users/dug/DockYard/reefpoints/source/stylesheets/load.sass */
.header--thin, .h1 {
  font-family: "LatoLight", sans-serif; }

@media (max-width: 600px) {
  /* line 68, /Users/dug/DockYard/reefpoints/source/stylesheets/load.sass */
  .h1 {
    font-size: 2.5em; } }
@media (min-width: 600px) {
  /* line 68, /Users/dug/DockYard/reefpoints/source/stylesheets/load.sass */
  .h1 {
    font-size: 72px; } }

/* line 75, /Users/dug/DockYard/reefpoints/source/stylesheets/load.sass */
.h2 {
  line-height: 1.25; }
  @media (max-width: 860px) {
    /* line 75, /Users/dug/DockYard/reefpoints/source/stylesheets/load.sass */
    .h2 {
      font-size: 1.5em; } }
  @media (min-width: 860px) {
    /* line 75, /Users/dug/DockYard/reefpoints/source/stylesheets/load.sass */
    .h2 {
      font-size: 2.625em; } }

@media (min-width: 1080px) {
  /* line 5, /Users/dug/DockYard/reefpoints/source/stylesheets/modules/shared.sass */
  .has-counter {
    padding-bottom: 1em; }
    /* line 8, /Users/dug/DockYard/reefpoints/source/stylesheets/modules/shared.sass */
    .has-counter:before {
      padding-top: 0.25em;
      display: block;
      border-top: 4px solid #fb755a;
      font-size: 2em;
      font-family: NiveauGroteskBold;
      content: counter(customlistcounter,upper-roman);
      color: #fb755a; } }

/* line 18, /Users/dug/DockYard/reefpoints/source/stylesheets/modules/shared.sass */
.text-link, .text-link--block {
  color: #2c9dc5;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color; }
  /* line 62, /Users/dug/DockYard/reefpoints/source/stylesheets/load.sass */
  .text-link:hover, .text-link--block:hover {
    color: #4db3d7; }

/* line 22, /Users/dug/DockYard/reefpoints/source/stylesheets/modules/shared.sass */
.text-link--block {
  display: block; }

/* line 26, /Users/dug/DockYard/reefpoints/source/stylesheets/modules/shared.sass */
.is-hidden {
  display: block;
  text-indent: -9999px;
  height: 0; }

/* line 31, /Users/dug/DockYard/reefpoints/source/stylesheets/modules/shared.sass */
.push {
  width: 100%; }
  @media (max-width: 800px) {
    /* line 31, /Users/dug/DockYard/reefpoints/source/stylesheets/modules/shared.sass */
    .push {
      height: 3em; } }
  @media (min-width: 800px) {
    /* line 31, /Users/dug/DockYard/reefpoints/source/stylesheets/modules/shared.sass */
    .push {
      height: 8em; } }

/* line 38, /Users/dug/DockYard/reefpoints/source/stylesheets/modules/shared.sass */
.push--header {
  width: 100%;
  height: 3em; }
  @media (min-width: 650px) and (min-height: 650px) {
    /* line 38, /Users/dug/DockYard/reefpoints/source/stylesheets/modules/shared.sass */
    .push--header {
      height: 8em; } }

/* line 44, /Users/dug/DockYard/reefpoints/source/stylesheets/modules/shared.sass */
.push--big {
  width: 100%;
  clear: both; }
  @media (max-width: 800px) {
    /* line 44, /Users/dug/DockYard/reefpoints/source/stylesheets/modules/shared.sass */
    .push--big {
      height: 6em; } }
  @media (min-width: 800px) {
    /* line 44, /Users/dug/DockYard/reefpoints/source/stylesheets/modules/shared.sass */
    .push--big {
      height: 12em; } }

/* line 36, /Users/dug/DockYard/reefpoints/source/stylesheets/load.sass */
.has-dots:after, .has-dots:before {
  display: inline-block;
  position: relative;
  height: 6px;
  width: 6px;
  content: "";
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-color: #fb755a; }
/* line 44, /Users/dug/DockYard/reefpoints/source/stylesheets/load.sass */
.has-dots:after {
  top: -4px;
  right: -30px; }
/* line 47, /Users/dug/DockYard/reefpoints/source/stylesheets/load.sass */
.has-dots:before {
  top: -4px;
  left: -30px; }

/* line 55, /Users/dug/DockYard/reefpoints/source/stylesheets/modules/shared.sass */
.headline-wrap {
  padding-top: 1.875em;
  padding-bottom: 1.875em; }

/* line 60, /Users/dug/DockYard/reefpoints/source/stylesheets/modules/shared.sass */
.headline, .headline--big, .headline--icon, .headline--text, .headline--text--center {
  text-transform: uppercase;
  letter-spacing: 3px; }

/* line 67, /Users/dug/DockYard/reefpoints/source/stylesheets/modules/shared.sass */
.headline--big {
  font-size: 24px; }

/* line 70, /Users/dug/DockYard/reefpoints/source/stylesheets/modules/shared.sass */
.headline--icon {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  max-width: 550px;
  position: relative;
  text-align: center;
  font-size: 18px;
  line-height: 1.8; }

/* line 79, /Users/dug/DockYard/reefpoints/source/stylesheets/modules/shared.sass */
.headline--text, .headline--text--center {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.8; }

@media (max-width: 860px) {
  /* line 87, /Users/dug/DockYard/reefpoints/source/stylesheets/modules/shared.sass */
  .case-study__list-item .headline--text, .case-study__list-item .headline--text--center {
    width: 100%; } }

/* line 91, /Users/dug/DockYard/reefpoints/source/stylesheets/modules/shared.sass */
.headline--text--center {
  text-align: center; }

/* line 95, /Users/dug/DockYard/reefpoints/source/stylesheets/modules/shared.sass */
.headline--sub {
  color: #cdcdcd; }
