/* line 58, /Users/acheung/work/reefpoints/source/stylesheets/load.sass */
.social-link:before {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased; }

/* line 5, /Users/acheung/work/reefpoints/source/stylesheets/modules/social.sass */
.social-links {
  text-align: center; }

/* line 8, /Users/acheung/work/reefpoints/source/stylesheets/modules/social.sass */
.social-links--footer {
  margin-top: 1.5em;
  padding-top: 0.75em;
  border-width: 1px;
  border-color: #e5e5e5;
  border-top-style: solid;
  text-indent: -3px; }

/* line 14, /Users/acheung/work/reefpoints/source/stylesheets/modules/social.sass */
.social-link {
  display: inline-block;
  width: 40px;
  font-size: 2.5em;
  color: #8d8d8d;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color; }
  /* line 55, /Users/acheung/work/reefpoints/source/stylesheets/load.sass */
  .social-link:hover {
    color: #a7a7a7; }
  /* line 20, /Users/acheung/work/reefpoints/source/stylesheets/modules/social.sass */
  .social-link:before {
    font-family: "icomoon";
    content: attr(data-icon); }
