---
layout: default
---
<section id='post'>
<section class='post-wrap'>
    <aside>
      <ul>
        <li class='post-date'>{{ page.date | date_to_string }}</li>
          {% if page.author %}
        <li>
          {{ page.author }}
          {% endif %}
          {% if page.social %}
          {% endif %}
        </li>
        <li>
          <span>
            {% if page.twitter %}
              <a class='twitter' href='http://twitter.com/{{ page.twitter }}' target='_blank'>t</a>
            {% endif %}
            {% if page.github %}
              <a class='github' href='http://github.com/{{ page.github }}' target='_blank'>g</a>
            {% endif %}
          </span>
        </li>
        <li>

        </li>
      </ul>
    </aside>

    <div class='post-div'>
      <div class="post-title">
        <h1>{{ page.title }}</h1>
      </div>
      <article class='post-content'>
        {{ content }}
      </article>

      <section class='post-share'>
        <h1>Like the article? Please share!</h1>
        <div class='social-button'><a href='https://twitter.com/share' class='twitter-share-button' data-via='DockYard'>Tweet</a></div>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='//platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','twitter-wjs');</script>

        <div class='social-button'><div class='g-plusone' data-size='medium' data-width='100' data-href='#'></div></div>
        <script type='text/javascript'>(function() {var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;po.src = 'https://apis.google.com/js/plusone.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);})();</script>

        <p class='issue'> See a problem with the post?
          <a href='https://github.com/dockyard/reefpoints/blob/gh-pages/_posts/' target='_blank'> Send a pull request to contribute.
          </a>
        </p>

      </section>

      <section id='post-comments'>
        {% if page.comments %}
        <div id='disqus_thread'></div>
        <script type='text/javascript'>
          var disqus_shortname = 'reefpoints';
          (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href='http://disqus.com/?ref_noscript'>comments powered by Disqus.</a></noscript>
        {% endif %}
      </section>

    </div>
</section>
</section>

<script>
  var path = window.location.pathname.split('/').reverse();
  var postname = path[0].split('.');
  var change = postname[0] + '.md';
  var newpath = 'https://github.com/dockyard/reefpoints/blob/gh-pages/_posts/' + path[3] + '-' + path[2] + '-' + path[1] + '-' + change
  $('.issue a').attr('href', newpath);
</script>