---
layout: default
---
<div class='wrap'>
<section id='post'>

  <section class='post-wrap'>

    

    <aside>
      <ul class='meta'>
        <li class='date'>{{ page.date | date_to_string }}</li>
          {% if page.author %}
        <li class='author'>
          {{ page.author }}
          {% endif %}
          {% if page.social %}
          {% endif %}
        </li>
        <li>
          <span class='social'>
            {% if page.twitter %}
              <a class='twitter' href='http://twitter.com/{{ page.twitter }}' target='_blank'>t</a>
            {% endif %}
            {% if page.github %}
              <a class='github' href='http://github.com/{{ page.github }}' target='_blank'>g</a>
            {% endif %}
          </span>
        </li>
        <li>
          
        </li>
      </ul>
    </aside>

    <div class='post-content'>
      <h1 class='post-title'>{{ page.title }}</h1>
      <article class='blog-post'>
        {{ content }}
      </article>
      
      <section id='share'>
        <h1>Like the article? Please share!</h1>
        <div class='social-button'><a href='https://twitter.com/share' class='twitter-share-button' data-via='DockYard'>Tweet</a></div>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='//platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','twitter-wjs');</script>

        <div class='social-button'><div class='g-plusone' data-size='medium' data-width='100' data-href='#'></div></div>
        <script type='text/javascript'>(function() {var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;po.src = 'https://apis.google.com/js/plusone.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);})();</script>
      </section>
      
      <section id='comments'>
        {% if page.comments %}
        <div id='disqus_thread'></div>
        <script type='text/javascript'>
          var disqus_shortname = 'reefpoints';
          (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href='http://disqus.com/?ref_noscript'>comments powered by Disqus.</a></noscript>
        {% endif %}
      </section>
      
    </div>

  </section>
</section>
</div>