%header.header
  .l-header
    %a.logo{:href => "http://dockyard.com/"} DockYard
    %nav.nav
      %a.nav__link{:href => "http://dockyard.com/process"} Process
      %a.nav__link{:href => "/"} Blog
      %a.nav__link{:href => "http://dockyard.com/contact"} Contact
    %a.club-sandwich{:href => "#"}
      %svg#Layer_1{"enable-background" => "new 0 0 216 216", :height => "16px", :version => "1.1", :viewbox => "0 0 216 216", :width => "16px", :x => "0px", "xml:space" => "preserve", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
        %rect{:height => "24", :width => "216", :x => "0", :y => "174.333"}
        %rect{:height => "24", :width => "216", :x => "0", :y => "95.917"}
        %rect{:height => "24", :width => "216", :x => "0", :y => "17.5"}
    %a.nav__close{:href => "#"}
      %svg#Layer_1{"enable-background" => "new 0 0 216 216", :height => "16px", :version => "1.1", :viewbox => "0 0 216 216", :width => "16px", :x => "0px", "xml:space" => "preserve", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
        %polygon{:points => "214.224 18.747 197.253 1.776 108 91.029 18.747 1.776 1.776 18.747 91.029 108 1.776 197.253 18.747 214.224 108 124.971 197.253 214.224 214.224 197.253 124.971 108 "}
