%header
  .extended-header-wrap.has-border--bottom
    .l-wrap--wide
      %nav.extended-nav.has-border--bottom
        %a.extended-nav--logo{href: 'http://www.dockyard.com/', 'data-icon' => '⌂'}
          %span.is-hidden Home
        %a.extended-nav--close{'data-icon' => 'X'}
          %span.is-hidden Close
        .extended-nav__items-wrap
          .extended-nav__items
            %a.extended-nav__item{href: 'http://www.dockyard.com/team'} Our Team
            %a.extended-nav__item{href: 'http://www.dockyard.com/community'} Community
            %a.extended-nav__item.active{href: '/'} Blog
            %a.extended-nav__item{href: 'http://www.dockyard.com/hire-us'} Hire Us
      %nav.work-nav
        %p Selected Work
        %a.work-nav-item{href: 'http://www.dockyard.com/work/credit-card-reviews'}
          %h4.work-nav-item__title Credit Card Reviews
          %p.work-nav-item__desc Credit card advice from real people.
        %a.work-nav-item{href: 'http://www.dockyard.com/work/coachup'}
          %h4.work-nav-item__title CoachUp
          %p.work-nav-item__desc You should be training. Right now.
        %a.work-nav-item{href: 'http://www.dockyard.com/work/askthem'}
          %h4.work-nav-item__title AskThem
          %p.work-nav-item__desc Ask officials questions on city, state, and federal levels.
        %a.work-nav-item{href: 'http://www.dockyard.com/work/beacon-hill-blitz'}
          %h4.work-nav-item__title Beacon Hill Blitz
          %p.work-nav-item__desc How technology helped repeal the #TechTax.
  %nav.main-nav-wrap.has-border--bottom
    .main-nav.l-wrap--wide
      %a.logo{href: 'http://www.dockyard.com/'} DockYard
      %a.club-sandwich{'data-icon' => '☰'}
        %span.is-hidden Navigation

.push--header
