---
title: DockYard ReefPoints - Authors
---

- page_articles.map(&:author).flatten.uniq.sort.each do |author|
  .blog-nav
    %a.blog-nav__item{href: author_path(author)} #{author}
    %p.blog-nav__count #{page_articles.select { |article| article.author == author }.size }
