---
title: DockYard ReefPoints - Authors
---

.l-wrap--blog__filter
  %strong.filter__header
    Author
    %span.filter__header__count Posts

  - page_articles.map(&:author).flatten.uniq.sort.each do |author|
    = link_to author_path(author), class: 'filter__item' do
      %img.authors__avatar{src: "/images/team/#{author.parameterize}.jpg"}
      %h2.filter__item__name= author
      %h2.filter__item__count= page_articles.select { |article| article.author == author }.size
