---
title: DockYard ReefPoints - Categories
---

.l-wrap--blog__filter
  %strong.filter__header
    Category
    %span.filter__header__count Posts

  - page_articles.map(&:tags).flatten.uniq.sort.each do |tag|
    = link_to tag_path(tag), class: 'filter__item' do
      %h2.filter__item__category= tag_name(tag)
      %h2.filter__item__count= tag_count(tag)
