---
layout: layout
title: DockYard Blog
---

-#%form.search_reefpoints
  -#%input#search.search{name: 'search', type: 'text', value: ''}

= partial 'articles', :locals => { :articles => blog.articles }

.nothin Your search returned no results. Perhaps you should try again.
