---
layout: layout
title: DockYard Blog
---

= partial 'internal-search'
= partial 'articles', :locals => { :articles => blog.articles }

:javascript
  $('.search__input').val(window.location.hash.substring(3));
