---
title: DockYard ReefPoints - Tags
---

= partial 'internal-search'

.blog-subnav
  - page_articles.map(&:tags).flatten.uniq.sort.each do |tag|
    %a.blog-subnav__item{href: tag_path(tag)}
      #{tag_name(tag)}
      <span class='blog-subnav__count'>#{tag_count(tag)}</span>

= partial 'articles', :locals => { :articles => blog.articles }
