@import load

.ad
  min-height: 60px
  line-height: 60px
  background: red
  color: white
  font-weight: bold
  text-align: center
  margin-bottom: 15px
  a
    color: white
    &:hover
      text-decoration: underline
