@import load

.ad--ruby, .ad--ember
  +transition-duration(.25s)
  +transition-property(background-color, color)
  margin-bottom: 50px
  padding:
    top: 20px
    bottom: 20px
  display: inline-block
  width: 100%
  border: 2px solid $red
  &:hover
    background:
      color: rgba($red, .7)
      size: cover
    .ad__text
      color: $white
      &:before, &:after
        background-color: $white

.ad--ruby:hover
  background-image: image-url('ruby.jpg')

.ad--ember:hover
  background-image: image-url('ember.jpg')

.ad__text
  margin:
    right: auto
    left: auto
  display: block
  position: relative
  max-width: 330px
  width: 90%
  text:
    align: center
    transform: uppercase
  color: $red
  line-height: 1.33
  @media (min-width: 500px)
    @include has-dots(18px, -30px)
  &:before, &:after
    @media (min-width: 500px)
      position: absolute
