// File copied over from dockyard.com

@import load

.has-border
  @include has-border(top, right, bottom, left)

.border--half
  height: 36px
  width: 50%
  @include has-border(right)

.case-study__testimonial, .case-study__image__desc__text, .dockyarder__header, .person__header--case-study, .headline--icon
  padding:
    top: 1em
    bottom: 1em
  @include has-border(top, bottom)
