// File copied over from dockyard.com

@import load

.button, .button--center
  padding:
    top: 20px
    bottom: 18px
  width: 180px
  border: none
  +border-radius(0)
  background-color: $red
  font:
    size: 18px
    family: NiveauGroteskBold
  @extend %font-smoothing
  text-align: center
  color: $white
  letter-spacing: 2px
  cursor: pointer
  -webkit-appearance: none
  +transition-duration(.25s)
  +transition-property(background-color)
  &:hover
    background-color: lighten($red, 5%)

.button--center
  margin: 1em auto 6em
  display: block

.button
  margin:
    top: 1em
    bottom: 1em
  display: inline-block
