@import load

footer
  margin-top: -40px
  padding:
    top: 90px
    bottom: 90px
  @include has-border(top)
  background-color: $white
  line-height: 1.5
  overflow: auto
  clear: both

.footer-group
  @media (max-width: 750px)
    &:not(:last-child)
      margin-bottom: 5em
  @media (min-width: 750px)
    width: 30%
    float: left
    &:not(:last-child)
      margin-right: 5%

.footer-group__title
  margin-bottom: 1.5em
  font-size: 18px

.footer-desc
  color: $gray

.footer__event
  padding-bottom: 1.5em
  display: block
  @include hover($blue)
  &:not(:first-child)
    padding-top: 1.5em
    @include has-border(top)

.footer__event--wgr, .footer__event--openhack, .footer__event--ember, .footer__event--ux
  margin-right: 1em
  position: relative
  top: -10px
  float: left
  height: 50px
  width: 50px
  background:
    image: url(/images/events.jpg)
    size: 100%

.footer__event--ux
  background-position: 0 50px

.footer__event--ember
  background-position: 0 100px

.footer__event--openhack
  background-position: 0 150px

.blog-nav-item
  margin-bottom: 1.5em
  display: block
  @include hover($blue)

.footer-address
  margin-top: 1.5em
  padding:
    top: 1.5em
    bottom: 1.5em
  display: block

.footer-social
  margin-top: 1.5em
  padding-top: .75em
  text-indent: -3px
  overflow: hidden
